title = "Список новостей"
url = "/news"
layout = "default"
meta_title = "Новости и акции"
meta_description = "Новости и акции интернет магазина Большой Медведь. Следите за новостями, учавствуйте в акциях, получайте приятные подарки"
is_hidden = 0
meta_keywords = "BigBear, Большой Медведь, мягкие игрушки, плюшевый медведь, купить плюшевого медведя в Украине, что подарить девушке, что подарить ребенку"
meta_noindex = 0

[blogPostList]
postListPage = "news/list"
postListPerPage = 10
postSinglePage = "news/single"
==
<section class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 d-sm-none-down">
                <div class="sidebar-container">
                    {% partial 'static/sidebar' %}
                </div>
            </div>

            <div class="col-lg-9 col-md-8">
                <div id="_news_headline_wrapper" class="row headline mb-xl-3-down">
                    {% partial 'news/headline' %}
                </div>

                <div id="_news_list_wrapper">
                    {% partial 'news/list/wrapper' %}
                </div>

                <div id="_news_pagination_wrapper" class="d-none-down">
                    {% partial 'news/pagination/wrapper' %}
                </div>

                <div id="_news_flipping_wrapper" class="d-sm-none-up">
                    {% partial 'news/flipping/wrapper' %}
                </div>
            </div>
        </div>
    </div>
</section>