title = "Страница новости"
url = "/news/:slug"
layout = "default"
is_hidden = 0
meta_noindex = 0

[blogPostSingle]
postSinglePage = "news/single"
postSingleSlug = "{{ :slug }}"
==
{% set post = blogPostSingle.post %}

{% partial 'layout/breadcrumb' title = post.name %}

<section class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 d-sm-none-down">
                <div class="sidebar-container">
                    {% partial 'static/sidebar' %}
                </div>
            </div>

            <div class="col-lg-9 col-md-8">
                <div class="row record-list">
                    <div class="col-12">
                        <div class="record-item">
                            {% if post.relImage %}
                                <div class="record-image">
                                    <img src="{{ post.relImage.thumb(743, 360, 'crop') }}" alt="{{ post.meta_title }}" title="{{ post.meta_description }}">
                                </div>
                            {% endif %}
                            <div class="record-detail">
                                <h1 class="h2 title">{{ post.name }}</h1>
                                <div class="info">
                                    <span><i class="fa fa-clock-o"></i> {{ post.created_at|date('d.m.Y') }}</span>
                                </div>
                                <div class="content">
                                    {{ post.content|md }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>