{% set paginate = blogPostList.posts %}

{% if paginate.lastPage > 1 %}
    <div class="flipping-wrapper">
        <div class="flipping">
            <ul class="flipping-directions">
                <li class="prev">
                    {% if paginate.currentPage > 1 %}
                        <a
                                data-request="blogPostList::onChangeNumPage"
                                data-request-data="page: '{{ paginate.currentPage - 1 }}'"
                                data-scrollable="#_news_headline_wrapper"
                        ><i class="fa fa-angle-double-left"></i> Предыдущая</a>
                    {% else %}
                        <span class="active"><i class="fa fa-angle-double-left"></i> Предыдущая</span>
                    {% endif %}
                </li>
                <li class="active"><span class="active">{{ paginate.currentPage }}/{{ paginate.lastPage }}</span></li>
                <li class="next">
                    {% if paginate.lastPage > paginate.currentPage %}
                            <a
                                    data-request="blogPostList::onChangeNumPage"
                                    data-request-data="page: '{{ paginate.currentPage + 1 }}'"
                                    data-scrollable="#_news_headline_wrapper"
                            >Следующая <i class="fa fa-angle-double-right"></i></a>
                    {% else %}
                        <span class="active">Следующая <i class="fa fa-angle-double-right"></i></span>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
{% endif %}