title = "Корзина"
url = "/basket"
layout = "default"
is_hidden = 0
meta_noindex = 1
==
{% partial 'layout/breadcrumb' title = 'Корзина' %}

<section class="content-page">
    <div class="container mb-80">
        <div class="row">
            <div class="col-sm-12">
                <div class="basket">
                    <h1 class="h2">Корзина</h1>
                    <div id="_basket_list">
                        {% partial 'shop/basket/wrapper' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>