title = "Каталог"
url = "/:slug*"
layout = "default"
is_hidden = 0
meta_noindex = 0

[shopCatalog]
catalogPage = "shop/catalog"
catalogSlug = "{{ :slug }}"
productListPerPage = 12
productListSorting = "ascending"
==
{% if shopCatalog.isCategory == true %}
    {% set category = shopCatalog.category %}
    {% set parentCategories = shopCatalog.parentCategories %}

    {% partial 'layout/breadcrumb' pages = parentCategories title = category.name %}

    <section class="content-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 d-sm-none-down">
                    <div class="sidebar-container">
                        {% partial 'shop/catalog/filter' %}

                        {% partial 'static/sidebar' %}
                    </div>
                </div>

                <div class="col-lg-9 col-md-8">
                    <div id="_product_headline_wrapper" class="row headline mb-xl-3-down">
                        {% partial 'shop/catalog/headline' %}
                    </div>

                    <div class="row mb-xl-3-down">
                        {% partial 'shop/catalog/toolbar' %}
                    </div>

                    <div id="_product_list_wrapper" class="row product-list">
                        {% partial 'shop/catalog/wrapper' %}
                    </div>

                    <div id="_product_liveloader_wrapper">
                        {% partial 'shop/catalog/liveloader/wrapper' %}
                    </div>

                    {% if shopCatalog.category.description %}
                        <div class="seo-description">
                            {{ shopCatalog.category.description|md }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% elseif shopCatalog.isProduct == true %}
    {% set category = shopCatalog.category %}
    {% set parentCategories = shopCatalog.parentCategories %}
    {% set product = shopCatalog.product %}
    {% set recommends = shopCatalog.recommends %}

    {% partial 'layout/breadcrumb' pages = parentCategories title = product.name %}

    <section class="content-page product-single">
        {% partial 'shop/single/wrapper' product = product %}

        {% partial 'shop/recommend/wrapper' recommends = recommends %}
    </section>
{% endif %}