title = "Оформление заказа"
url = "/checkout"
layout = "default"
is_hidden = 0
meta_noindex = 1
==
{% partial 'layout/breadcrumb' title = 'Оформление заказа' %}

<section class="content-page">
    <div class="container mb-80">
        <div class="row">
            <div class="col-sm-12">
                <div class="checkout">
                    <h1 class="h2">Оформление заказа</h1>
                    <div>
                        {% partial 'shop/checkout/wrapper' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>