title = "Заказы"
url = "/order"
layout = "default"
is_hidden = 0
meta_noindex = 1
==
{% partial 'layout/breadcrumb' title = 'Корзина' %}

<section class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="h2">Заказы</h1>
                <p>Coming soon</p>
            </div>
        </div>
    </div>
</section>