{% set categories = shopCatalog.categories %}

<div class="widget-sidebar">
    <h5 class="widget-title">Категории</h5>
    <div class="widget-filter">
        <ul class="widget-filter-link">
            {% for category in categories %}
                <li>
                    <a href="{{ category.url }}">{{ category.name_filter }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% set filters = shopCatalog.filters %}
{% for filter in filters %}
    <div class="widget-sidebar">
        <h5 class="widget-title">{{ filter.name }}</h5>
        <div class="widget-filter">
            <ul class="widget-filter-{{ filter.slug }} widget-filter-{{ filter.size|default('1') }}x">
                {% for value in filter.values %}
                    <li>
                        <label class="control {{ filter.type }}">
                            {{ value.name }}
                            <span class="count">({{ value.rel_product_count }})</span>
                            <input
                                    type="{{ filter.type }}"
                                    data-request="shopCatalog::onChangeFilter"
                                    data-request-data="name: '{{ filter.slug }}', value: '{{ value.slug }}'"
                                    data-scrollable="#_product_headline_wrapper"
                                    {% if value.slug in listFilter[filter.slug] %}checked{% endif %}
                            />
                            <span
                                    class="indicator{% if value.color_primary %} color{% endif %} {{ value.slug }}"
                                    {% if value.color_primary and value.color_secondary %}
                                        style="background-image: linear-gradient(-45deg, {{ value.color_primary }} 50%, {{ value.color_secondary }} 50%);"
                                    {% elseif value.color_primary and not value.color_secondary %}
                                        style="background: {{ value.color_primary }};"
                                    {% endif %}
                            ></span>
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}