<div class="col-lg-4 col-md-6 col-sm-6 col-12">
    <div class="product-item">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-6 pr-0-down">
                <div class="product-image">
                    {% if product.price_old != product.price_new %}
                        <a href="{{ product.url }}" class="label label-sale"></a>
                    {% elseif date(now).diff(product.created_at).days < 7 %}
                        <a href="{{ product.url }}" class="label label-new"></a>
                    {% endif %}

                    {% set seo = 'Купить мягкую игрушку '~ product.relColor.name ~' '~ product.name ~' '~ product.relSize.name ~ ' с доставкой по Украине' %}
                    <a href="{{ product.url }}" title="{{ seo }}">
                        {% set default = 'https://via.placeholder.com/265x353' %}
                        {% set default2x = 'https://via.placeholder.com/546x728' %}

                        {% set imageFront = product.relImageFront %}
                        <img class="product-image-front" src="{{ imageFront.thumb(265, 353, 'crop')|default(default) }}" srcset="{{ imageFront.thumb(546, 728, 'crop')|default(default2x) }} 2x" alt="{{ imageFront.title }}" title="{{ imageFront.description }}">

                        {% set imageBack = product.relImageBack %}
                        <img class="product-image-back" src="{{ imageBack.thumb(265, 353, 'crop')|default(default) }}" srcset="{{ imageBack.thumb(546, 728, 'crop')|default(default2x) }} 2x" alt="{{ imageBack.title }}" title="{{ imageBack.description }}">

                        {{ imageFront.width }}x{{ imageFront.height }}, {{ imageFront.size }}
                        {% if product.price_old != product.price_new %}
                            <div class="timer" data-countdown="{{ product.discounted_at }}" data-plural-days="день,дня,дней" data-plural-hours="час,часа,часов" data-plural-minutes="минута,минуты,минут" data-plural-seconds="секунда,секунды,секунд">
                                <div class="days"><span class="counting">--</span><span class="plural">дней</span></div>
                                <div class="hours"><span class="counting">--</span><span class="plural">часов</span></div>
                                <div class="minutes"><span class="counting">--</span><span class="plural">минут</span></div>
                                <div class="seconds"><span class="counting">--</span><span class="plural">секунд</span></div>
                            </div>
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-6 pl-0-down">
                <div class="product-detail">
                    <h3 class="product-title"><a href="{{ product.url }}">{{ leftDays }} {{ product.name }}</a></h3>
                    <h4 class="product-description">
                        <span>{{ product.relProductSize.name }}, {{ product.relProductColor.name }}</span>
                    </h4>
                    <div class="product-price">
                        {% if product.price_old != product.price_new %}
                            <span class="old-price">{{ product.price_old|numeric }} грн</span>
                        {% endif %}
                        <span class="price">{{ product.price_new|numeric }} грн</span>
                    </div>
                    <div class="product-basket">
                        <button
                                class="btn btn-primary btn-block"
                                type="submit"
                                data-request="shopBasket::onAddProduct"
                                data-request-data="product_id: '{{ product.id }}', quantity: '1'"
                                data-request-success="$('.js-sidebar-basket-open').click();"
                                onclick="gtag('event', 'addBasket');"
                        ><i class="fa fa-shopping-cart"></i> В корзину</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>