{% set sortings = shopCatalog.sortings %}

<div class="col-lg-8 col-6 order-1 order-md-2">
    <button class="js-sidebar-filter-open btn btn-primary btn-block d-md-none-up d-sm-block-down"><i class="fa fa-filter"></i> Фильтр</button>
</div>
<div class="col-lg-4 col-6 order-2 order-md-1">
    {% if sortings|length > 0 %}
        <select
                class="form-control"
                name="sorting"
                data-request="shopCatalog::onChangeSorting"
                data-scrollable="#_product_headline_wrapper"
        >
            {% for key, value in sortings %}
                <option value="{{ key }}"{% if listSorting == key %} selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
    {% endif %}
</div>