{% set products = shopCatalog.products %}

{% if products.total > 0 %}
    <div class="col-12 page-separator page-counter mb-xl-3-down"><span>Страница {{ products.currentPage }} из {{ products.lastPage }}</span></div>
{% endif %}

{% for product in products %}
    {% partial 'shop/catalog/item' product = product %}
{% endfor %}