<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="product-image">
                <div class="product-image-images js-product-single-images slick-images">
                    {% for image in product.relImages %}
                        <div class="item">
                            {% set seo = 'Купить мягкую игрушку '~ variant.relColor.name ~' '~ product.name ~' '~ product.relSize.name ~ ' с доставкой по Украине' %}
                            <img src="{{ image.thumb(350, 467, 'crop') }}" srcset="{{ image.thumb(660, 880, 'crop') }} 2x" alt="{{ seo }}" title="{{ seo }}">

                            <div class="color-info">
                                <span class="color {{ variant.relColor.slug }}" style="background: {{ variant.relColor.color }}"></span> <span class="name">{{ variant.relColor.name }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="product-image-thumbnails js-product-single-thumbnails slick-thumbnails">
                    {% for image in product.relImages %}
                        {% set seo = variant.relColor.name ~' '~ product.name ~' мягкая игрушка' %}
                        <div class="item"><img src="{{ image.thumb(60, 80, 'crop') }}" srcset="{{ image.thumb(120, 120, 'crop') }} 2x" alt="{{ seo }}" title="{{ seo }}"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-6 col-12">
            <div class="product-content">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="h2 product-title">{{ product.name_h1 }}</h1>
                        <h2 class="h3 product-detail"><b>Длина мишки:</b> {{ product.relSize.name }}</h2>
                        <h2 class="h3 product-detail"><b>Доступные цвета:</b> {% for variant in product.relVariant %}{{ variant.relColor.name }}{% if not loop.last %}, {% endif %}{% endfor %}</h2>
                        <div class="product-price">
                            {% if product.price_old != product.price_new %}
                                <span class="old">{{ product.price_old|numeric }} грн</span>
                            {% endif %}
                            <span class="sale">{{ product.price_new|numeric }} грн</span>
                        </div>
                        <div class="product-basket">
                            <form
                                    method="post"
                                    data-request="shopBasket::onAddProduct"
                                    data-request-data="quantity: '1'"
                                    data-request-success="$('.js-sidebar-basket-open').click();"
                            >
                                {#<div class="product-select">#}
                                    {#<select class="form-control" name="variant_id">#}
                                        {#{% for variant in product.relVariant %}#}
                                            {#<option value="{{ variant.id }}"{% if loop.first %} selected{% endif %}>{{ variant.relColor.name }}</option>#}
                                        {#{% endfor %}#}
                                    {#</select>#}
                                {#</div>#}
                                <div class="product-order">
                                    <button
                                            class="btn btn-primary btn-block"
                                            type="submit"
                                            onclick="gtag('event', 'addBasket');"
                                    ><i class="fa fa-shopping-cart"></i> В корзину</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% if product.short_description %}
                        <div class="col-md-12">
                            <div class="product-description">
                                {{ product.short_description|md }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-md-12">
                        <div class="product-promo">
                            <h4 class="h5">Оплата</h4>
                            <p>Наложенный платеж, предоплата на карту ПриватБанка.</p>

                            <h4 class="h5">Доставка</h4>
                            <p>Доставка 1-2 дня. Отправка в тот же день: «Новая Почта» ПН-СБ до 15:00; «Ин Тайм» ПН-ПТ до 14:00.</p>
                            <p class="sm">Киев, Харьков, Одесса, Днепр, Запорожье, Львов, Кривой Рог, Николаев, Мариуполь, Винница, Херсон, Полтава, Чернигов, Черкассы, Хмельницкий, Житомир, Черновцы, Сумы, Ровно, Каменское, Ивано-Франковск, Кропивницкий, Кременчуг, Тернополь, Луцк, Белая Церковь, Краматорск, Мелитополь, Ужгород, Никополь, Славянск, Бердянск, Павлоград, Северодонецк, Бровары, Каменец-Подольский, Лисичанск, Александрия, Константиновка и другие.</p>

                            <h4 class="h5">Гарантии и возврат</h4>
                            <p>Обмен или возврат товара возможен в течение 14 календарных дней.</p>
                            <p class="sm">При условии если сохранен его товарный вид, потребительские свойства, ярлыки и расчетный документ, выданный транспортной службой вместе с товаром.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="active" href="#tab_description" role="tab" data-toggle="tab">Описание и характеристики</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab_description" role="tabpanel" class="tab-pane active">
            <div class="row">
                <div class="col-md-6">
                    {{ product.description|md }}
                </div>
                <div class="col-md-6">
                    <h3 class="h4">Характеристики</h3>
                    {{ product.characteristic|md }}

                    <h3 class="h4">Как правильно измеряется мягкая игрушка</h3>
                    <img src="{{ 'assets/images/scheme.jpg'|theme }}">
                    <p>В расчет роста включен коэффициент объема, ведь в мягкой игрушке главное не только её высота, но и правильные пропорции тела.</p>
                </div>
            </div>
        </div>
    </div>
</div>