<label class="custom-switch" data-check="oc-disable-<?= $record->id ?>" style="margin-bottom:0">
    <input
            data-request="onChangeColumnValueFast"
            data-request-data="checked: [<?= $record->id ?>], column_name: '<?= $column->columnName; ?>', column_value: '<?= $value ? '0' : '1'; ?>'"
            type="checkbox"
            <?php if ((int)$value): ?>checked="checked"<?php endif; ?>
            data-stripe-load-indicator
    >
    <span>
        <span>Вкл</span>
        <span>Выкл</span>
    </span>
    <a class="slide-button"></a>
</label>