<div data-control="toolbar">
    <div class="btn-group dropdown dropdown-fixed" data-control="bulk-actions">
        <a
                href="<?= Backend::url('bronx/shop/products/create') ?>"
                class="btn btn-primary oc-icon-plus"
        >Новый товар</a>
        <button
                type="button"
                class="btn btn-primary dropdown-toggle btn-bulk"
                data-trigger=".control-list .list-checkbox input[type=checkbox]"
                data-trigger-action="enable"
                data-trigger-condition="checked"
                data-toggle="dropdown"
        ><span class="caret"></span></button>
        <ul class="dropdown-menu" data-dropdown-title="Настройки товаров">
            <li>
                <a
                        href="javascript:;"
                        class="oc-icon-plus"
                        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked'), column_name: 'is_enable', column_value: '1' })"
                        data-request="onChangeColumnValueFast"
                        data-request-confirm="Вы действительно хотите включить выбранные товары?"
                        data-request-success="$('.btn-bulk').prop('disabled', 'disabled')"
                        data-stripe-load-indicator
                >Включить</a>
            </li>
            <li>
                <a
                        href="javascript:;"
                        class="oc-icon-minus"
                        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked'), column_name: 'is_enable', column_value: '0' })"
                        data-request="onChangeColumnValueFast"
                        data-request-confirm="Вы действительно хотите выключить выбранные товары?"
                        data-request-success="$('.btn-bulk').prop('disabled', 'disabled')"
                        data-stripe-load-indicator
                >Выключить</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a
                        href="javascript:;"
                        class="oc-icon-pencil"
                        onclick="$.onChangeRecord.changeCategory()"
                        data-stripe-load-indicator
                >Изменить категорию</a>
            </li>
            <li>
                <a
                        href="javascript:;"
                        class="oc-icon-pencil"
                        onclick="$.onChangeRecord.changeStatus()"
                        data-stripe-load-indicator
                >Изменить статус</a>
            </li>
            <li>
                <a
                        href="javascript:;"
                        class="oc-icon-pencil"
                        onclick="$.onChangeRecord.changePrice()"
                        data-stripe-load-indicator
                >Изменить цену</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a
                        href="javascript:;"
                        class="oc-icon-copy"
                        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
                        data-request="onReplicate"
                        data-request-confirm="Вы действительно хотите дублировать выбранные товары?"
                        data-request-success="$('.btn-bulk').prop('disabled', 'disabled')"
                        data-stripe-load-indicator
                >Дублировать</a>
            </li>
            <li>
                <a
                        href="javascript:;"
                        class="oc-icon-trash-o"
                        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
                        data-request="onDelete"
                        data-request-confirm="Вы действительно хотите удалить выбранные товары?"
                        data-request-success="$('.btn-bulk').prop('disabled', 'disabled')"
                        data-stripe-load-indicator
                >Удалить</a>
            </li>
        </ul>
    </div>

    <div class="btn-group dropdown dropdown-fixed" data-control="bulk-actions">
        <a
                href="<?= Backend::url('bronx/shop/products/reorder') ?>"
                class="btn btn-default oc-icon-sitemap"
        >Сортировка</a>
        <button
                type="button"
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown"
        ><span class="caret"></span></button>
        <ul class="dropdown-menu" data-dropdown-title="Настройки товаров">
            <li>
                <a
                        href="javascript:;"
                        class="oc-icon-refresh"
                        data-request="onRefreshCacheObject"
                        data-request-confirm="Вы действительно хотите обновить кэш данных?"
                        data-stripe-load-indicator
                >Обновить кэш данных</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a
                        href="javascript:;"
                        class="oc-icon-trash-o"
                        data-request="onClearCacheKey"
                        data-request-confirm="Вы действительно хотите очистить кэш ключей?"
                        data-stripe-load-indicator
                >Очистка кэша ключей</a>
            </li>
            <li>
                <a
                        href="javascript:;"
                        class="oc-icon-trash-o"
                        data-request="onClearCacheObject"
                        data-request-confirm="Вы действительно хотите очистить кэш данных?"
                        data-stripe-load-indicator
                >Очистка кэша данных</a>
            </li>
        </ul>
    </div>
</div>