<?= Form::open(['id' => 'changeCategoryForm']) ?>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title">Изменить категорию</h4>
    </div>

    <?php if (!$this->fatalError): ?>
        <div class="modal-body">
            <div class="form-elements">
                <?php if (!empty($checked)): ?>
                    <?php foreach ($checked as $checkedValue => $checkedName): ?>
                        <input type="hidden" name="checked[]" value="<?= $checkedName; ?>">
                    <?php endforeach; ?>
                <?php else: ?>
                    <div class="callout fade in callout-danger no-subheader">
                        <div class="header">
                            <i class="icon-info"></i>
                            <h3>Товары не выбраны</h3>
                        </div>
                    </div>
                <?php endif; ?>
                <input type="hidden" name="column_name" value="product_category_id">
                <?php if (!empty($categories)): ?>
                    <div class="form-group span-full">
                        <label for="column_value">Категория</label>
                        <select class="form-control custom-select" id="column_value" name="column_value">
                            <?php foreach ($categories as $categoryValue => $categoryName): ?>
                                <option value="<?= $categoryValue; ?>"><?= $categoryName; ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                <?php else: ?>
                    <div class="callout fade in callout-danger no-subheader">
                        <div class="header">
                            <i class="icon-info"></i>
                            <h3>Категории не найдены</h3>
                        </div>
                    </div>
                <?php endif; ?>
            </div>
        </div>
        <div class="modal-footer">
            <?php if (!empty($checked) && !empty($categories)): ?>
                <button
                        type="submit"
                        data-request="onChangeColumnValueFast"
                        data-request-data="redirect:0"
                        data-hotkey="ctrl+s, cmd+s"
                        data-request-confirm="Вы действительно хотите изменить категорию выбранных товаров?"
                        data-request-success="$('.btn-bulk').prop('disabled', 'disabled')"
                        data-popup-load-indicator
                        class="btn btn-primary"
                ><?= e(trans('backend::lang.form.save')) ?></button>
            <?php endif; ?>
            <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup"
            ><?= e(trans('backend::lang.form.cancel')) ?></button>
        </div>
    <?php else: ?>
        <div class="modal-body">
            <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
        </div>
        <div class="modal-footer">
            <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup"
            ><?= e(trans('backend::lang.form.close')) ?></button>
        </div>
    <?php endif ?>

    <script>
        setTimeout(function () {
            $('#createForm input.form-control:first').focus();
        }, 310);
    </script>
<?= Form::close() ?>