<div data-control="toolbar">
    <a
            href="<?= Backend::url('bronx/shop/productcolors/create') ?>"
            class="btn btn-primary oc-icon-plus"
    >Новый цвет</a>

    <button
            class="btn btn-danger oc-icon-trash-o"
            disabled="disabled"
            onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
            data-request="onDelete"
            data-request-confirm="Вы действительно хотите удалить выбранные цвета?"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', 'disabled')"
            data-stripe-load-indicator
    >Удалить выбранное</button>
</div>