{% set totalCost = shopBasket.totalCost %}
{% set totalQuantity = shopBasket.totalQuantity %}

<button class="js-sidebar-basket-open btn btn-primary btn-block"><i class="fa fa-shopping-cart left"></i> {{ totalQuantity|numeric }} шт / {{ totalCost|numeric }} грн</button>