<div class="widget-total">
    <div class="total-inner">
        {% set products = shopBasket.products %}
        {% if products|length > 0 %}
            <div class="buttons">
                <a href="{{ 'shop/basket'|page }}" class="btn btn-md btn-outline-primary">Открыть корзину</a>
                <a href="{{ 'shop/checkout'|page }}" class="btn btn-md btn-dark">Оформить заказ</a>
            </div>
        {% endif %}

        <h5 class="total normal"><span>Всего:</span> <span class="price">{{ shopBasket.totalCost|numeric }} грн</span></h5>
    </div>
</div>

<div class="widget-content">
    {% set products = shopBasket.products %}
    {% set totalCost = shopBasket.totalCost %}
    {% set totalQuantity = shopBasket.totalQuantity %}

    <div class="widget-list">
        {% if products|length > 0 %}
            <ul class="list-none">
                {% for product in products %}
                    {% for variant in product.relVariant %}
                        <li>
                            {% set image = variant.relImages.first %}
                            <a href="{{ product.url }}" class="image"><img src="{{ image.thumb(78, 104, 'crop') }}" srcset="{{ image.thumb(156, 208, 'crop') }} 2x" alt="{{ variant.relColor.name }} {{ product.name }} {{ product.relSize.name }}" /></a>
                            <div class="content product">
                                <a class="link" href="{{ product.url }}">{{ product.name }}</a>
                                <div class="collateral">
                                    <span class="quantity">{{ variant.quantity|numeric }}</span>
                                    <span>&#215;</span>
                                    <span class="price">{{ variant.price_new|numeric }} грн</span>
                                </div>
                                <div class="info">
                                    <div class="size">Размер: <strong>{{ product.relSize.name }}</strong></div>
                                    <div class="color">Цвет: <strong>{{ variant.relColor.name }}</strong></div>
                                </div>

                                <a
                                        class="remove"
                                        href="javascript:void(0)"
                                        data-request="shopBasket::onRemoveProduct"
                                        data-request-data="variant_id: '{{ variant.id }}'"
                                ><i class="fa fa-times-circle"></i></a>
                            </div>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% else %}
            <div class="none">
                <p>Ваша корзина пуста</p>
                <p><small>Добавьте товар в корзину,<br>затем нажмите кнопку <strong>"обновить"</strong></small></p>
                <div class="text-center">
                    <button
                            class="btn btn-dark btn-sm"
                            data-request="shopBasket::onRefreshPartials"
                    ><i class="fa fa-refresh"></i> Обновить</button>
                </div>
            </div>
        {% endif %}
    </div>
</div>