<form
        data-request="shopBasket::onSendCheckout"
        data-request-flash
>
    {{ form_token() }}
    <input type="hidden" name="subject" value="Новый заказ">
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="phone">Номер телефона <span class="required">*</span></label>
            <input id="phone" name="phone" class="form-control" maxlength="19" value="+380" autocomplete="off" required>
            <small class="text-danger" data-validate-for="phone"></small>
        </div>
        <div class="form-group col-sm-12">
            <label for="comment">Комментарий к заказу</label>
            <textarea id="comment" name="comment" class="form-control" maxlength="1023" placeholder="Адрес доставки или время, в которое Вам будет удобно принять звонок от менеджера (не обязательно)"></textarea>
            <small class="text-danger" data-validate-for="comment"></small>
        </div>
        <div class="form-group col-sm-12 text-center">
            <button
                    class="btn btn-lg btn-primary"
                    type="submit"
                    onclick="gtag('event', 'checkout');"
            >Оформить заказ</button>
        </div>
    </div>
</form>