{% set products = shopBasket.products %}

<table class="product-list">
    <thead>
        <tr>
            <th class="product-name">Название</th>
            <th class="quantity product-quantity">Количество</th>
            <th class="price product-total">Стоимость</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            {% for variant in product.relVariant %}
                <tr>
                    <td class="product-name">
                        <div class="text-nowrap product-name"><a href="{{ product.url }}">{{ product.name }}</a></div>
                        <div class="text-nowrap product-size"><strong>Размер:</strong> {{ product.relSize.name }}</div>
                        <div class="text-nowrap product-color"><strong>Цвет:</strong> {{ variant.relColor.name }}</div>
                    </td>
                    <td class="quantity product-quantity">{{ variant.quantity|numeric }} шт</td>
                    <td class="price product-total">{{ variant.total_cost|numeric }} грн</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">
                    <p>Ваша корзина пуста</p>
                    <p><small>Добавьте товар в корзину,<br>затем нажмите кнопку <strong>"обновить"</strong></small></p>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="product-general">В сумме:</td>
            <td class="quantity product-quantity">{{ shopBasket.totalQuantity|numeric }} шт</td>
            <td class="price product-total">{{ shopBasket.totalCost|numeric }} грн</td>
        </tr>
    </tfoot>
</table>