<div class="alert alert-success" role="alert">
    <strong>Ваш заказ принят!</strong> С Вами свяжется наш менеджер, для уточнения деталей.
</div>

<p>Если заказ был оформлен в нерабочее время, то наш менеджер свяжется с Вами утром.</p>