<div class="row">
    <div class="col-md-5">
        <div id="_checkout_form">
            {% partial 'shop/checkout/form' %}
        </div>
    </div>
    <div class="col-md-7">
        <div class="consignment">
            <h3>Итоги</h3>
            <div class="responsive-table">
                <div id="_checkout_list">
                    {% partial 'shop/checkout/item' %}
                </div>
            </div>
            <div class="text-center">
                <div class="btn-group">
                    <a class="btn btn-dark btn-sm" href="{{ 'shop/basket'|page }}"><i class="fa fa-mail-reply"></i> В корзину</a>
                    <button class="btn btn-dark btn-sm" data-request="shopBasket::onRefreshPartials"><i class="fa fa-refresh"></i> Обновить</button>
                </div>
            </div>
        </div>
    </div>
</div>