<form
        data-request="feedbackContact::onContact"
        data-request-flash
        data-request-validate
>
    {{ form_token() }}
    <input type="hidden" name="subject" value="Форма обратной связи">
    <div class="row">
        <div class="form-group col-6">
            <label for="name">Ваше имя <span class="required">*</span></label>
            <input id="name" name="name" class="form-control form-control-md" maxlength="15" autocomplete="off" required>
            <small class="text-danger" data-validate-for="name"></small>
        </div>
        <div class="form-group col-6">
            <label for="phone">Номер телефона <span class="required">*</span></label>
            <input id="phone" name="phone" class="form-control form-control-md" maxlength="19" value="+380" autocomplete="off" required>
            <small class="text-danger" data-validate-for="phone"></small>
        </div>
        <div class="form-group col-12">
            <label for="message">Сообщение</label>
            <textarea id="message" name="message" class="form-control" maxlength="1023" placeholder="(не обязательно)"></textarea>
            <small class="text-danger" data-validate-for="message"></small>
        </div>
        <div class="form-group col-12">
            <button type="submit" class="submit btn btn-md btn-primary">Отправить</button>
        </div>
    </div>
</form>