<?php if ($this->previewMode): ?>
    <div class="form-control"><?= e($value) ?></div>
<?php else: ?>
    <input
            name="<?= $name ?>"
            id="<?= $field->getId() ?>"
            value="<?= e($value) ?>"
            placeholder="<?= e(trans($field->placeholder)) ?>"
            class="form-control"
            autocomplete="off"
            <?= $field->getAttributes() ?>
            data-control="field-count-<?= e($counterType) ?>"
            data-max-length="<?= e($maxLength) ?>"
    />

    <? if ($counterType == 'letter'): ?>
        <p class="help-block text-success"><?= (trans('bronx.seo::lang.formwidget.helpblock.letter', ['length' => '<span>0</span>', 'maxLength' => $maxLength])) ?></p>
    <? elseif ($counterType == 'tag'): ?>
        <p class="help-block text-success"><?= (trans('bronx.seo::lang.formwidget.helpblock.tag', ['length' => '<span>0</span>', 'maxLength' => $maxLength])) ?></p>
    <? endif; ?>
<?php endif ?>