<?php if ($this->previewMode): ?>
    <div class="form-control"><?= e($value) ?></div>
<?php else: ?>
    <div class="input-group unit-field-<?= e($position) ?>">
        <?php if ($position == 'left'): ?>
            <span class="input-group-addon"><?= e($symbol) ?></span>
        <?php endif ?>
        <input
                name="<?= $name ?>"
                id="<?= $field->getId() ?>"
                value="<?= e($value) ?>"
                placeholder="<?= e(trans($field->placeholder)) ?>"
                class="form-control"
                autocomplete="off"
                <?= $field->getAttributes() ?>
        />
        <?php if ($position == 'right'): ?>
            <span class="input-group-addon"><?= e($symbol) ?></span>
        <?php endif ?>
    </div>
<?php endif ?>