title = "Профиль"
url = "/profile"
layout = "default"
is_hidden = 0
meta_noindex = 1
==
{#{% partial 'layout/breadcrumb' title = shopUserSingle.user.name ~ ' ' ~ shopUserSingle.user.surname %}#}

<section class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 order-md-1 order-sm-1 order-2">
                {% partial 'static/sidebar' %}
            </div>
            <div class="col-lg-9 col-md-8 col-sm-6 order-md-2 order-sm-2 order-1">
                {#<h1 class="h2">{{ shopUserSingle.user.name ~ ' ' ~ shopUserSingle.user.surname }}</h1>#}
                <p>Coming soon</p>
            </div>
        </div>
    </div>
</section>