title = "О магазине"
url = "/contacts"
layout = "default"
meta_title = "О магазине"
meta_description = "Специализированный интернет-магазин Большой Медведь. Мы находимся в Харькове и работаем на всей территории Украины. Доставляем товар за 1-2 дня в любую точку страны"
is_hidden = 0
meta_keywords = "BigBear, Большой Медведь, мягкие игрушки, плюшевый медведь, купить плюшевого медведя в Украине, что подарить девушке, что подарить ребенку"
meta_noindex = 0

[feedbackContact]
==
{% partial 'layout/breadcrumb' title = 'О магазине' %}

<section class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4>График работы</h4>
                        <ul class="list-none information">
                            <li><i class="left icon xs clock"></i>С <strong>9:00</strong> до <strong>20:00</strong> в будние,<br>выходные и праздничные дни - с <strong>10:00</strong> до <strong>20:00</strong></li>
                            <li><i class="left icon xs delivery"></i>Приём заказов, с отправкой в тот же день:<br><strong>«Новая Почта»</strong> ПН-СБ до 15:00<br><strong>«Ин Тайм»</strong> ПН-ПТ до 14:00</li>
                        </ul>
                    </div>

                    <div class="col-md-12">
                        <h4>Главный офис</h4>
                        <ul class="list-none information">
                            <li><i class="left icon xs map"></i>ул. Маршала Малиновского 2,<br>Днипро, Днепропетровская область,<br>49000</li>
                        </ul>
                    </div>

                    <div class="col-md-12">
                        <h4>Контактная информация</h4>
                        <ul class="list-none information contact">
                            <li><i class="left icon xs kyivstar"></i><a href="tel:+380960609545">+380 (96) 06-09-545</a></li>
                            <li><i class="left icon xs vodafone"></i><a href="tel:+380660609545">+380 (66) 06-09-545</a></li>
                            <li><i class="left icon xs lifecell"></i><a href="tel:+380730609545">+380 (73) 06-09-545</a></li>
                            <li><i class="left icon xs email"></i><a href="mailto:{{ html_email('service@bigbear.com.ua') }}">{{ html_email('service@bigbear.com.ua') }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Есть вопросы? - Напишите нам!</h4>
                <div id="_contact_form">
                    {% partial 'static/contact/form' %}
                </div>
            </div>
        </div>
    </div>
</section>

<div class="map" data-control="googlemaps" data-latitude="48.483905" data-longitude="35.063425" data-zoom="16"></div>