title = "Доставка товара"
url = "/delivery"
layout = "default"
meta_title = "Доставка товара"
meta_description = "Доставка курьерскими службами Новая Почта, Ин Тайм. Отправляем наложенным платежом по всей Украине"
is_hidden = 0
meta_keywords = "BigBear, Большой Медведь, мягкие игрушки, плюшевый медведь, купить плюшевого медведя в Украине, что подарить девушке, что подарить ребенку"
meta_noindex = 0
==
{% partial 'layout/breadcrumb' title = 'Доставка товара' %}

<section class="content-page">
    <div class="container mb-80">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 order-md-1 order-sm-1 order-2">
                <div class="sidebar-container">
                    {% partial 'static/sidebar' %}
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-6 order-md-2 order-sm-2 order-1">
                {% content 'delivery' %}
            </div>
        </div>
    </div>
</section>