title = "Оплата товара"
url = "/payment"
layout = "default"
meta_title = "Оплата товара"
meta_description = "Множество вариантов оплаты: оплата наличными в отделении курьерской службы при получении; оплата наличными курьеру; предоплата 100% на карту украинского банка"
is_hidden = 0
meta_keywords = "BigBear, Большой Медведь, мягкие игрушки, плюшевый медведь, купить плюшевого медведя в Украине, что подарить девушке, что подарить ребенку"
meta_noindex = 0
==
{% partial 'layout/breadcrumb' title = 'Оплата товара' %}

<section class="content-page">
    <div class="container mb-80">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 order-md-1 order-sm-1 order-2">
                <div class="sidebar-container">
                    {% partial 'static/sidebar' %}
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-6 order-md-2 order-sm-2 order-1">
                {% content 'payment' %}
            </div>
        </div>
    </div>
</section>