title = "Гарантии и возврат"
url = "/warranty"
layout = "default"
meta_title = "Гарантии и возврат"
meta_description = "Возврат или обмен товара в течении 14 календарных дней. Гарантия предоставляется на все товары, без исключений"
is_hidden = 0
meta_keywords = "BigBear, Большой Медведь, мягкие игрушки, плюшевый медведь, купить плюшевого медведя в Украине, что подарить девушке, что подарить ребенку"
meta_noindex = 0
==
{% partial 'layout/breadcrumb' title = 'Гарантии и возврат' %}

<section class="content-page">
    <div class="container mb-80">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 order-md-1 order-sm-1 order-2">
                <div class="sidebar-container">
                    {% partial 'static/sidebar' %}
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-6 order-md-2 order-sm-2 order-1">
                {% content 'warranty' %}
            </div>
        </div>
    </div>
</section>