<?php if (!$this->fatalError): ?>
    <?= Form::open(['class' => 'layout', 'id' => 'sitemapForm']) ?>
        <div class="layout-row min-size">
            <div class="scoreboard padded-container">
                <div data-control="toolbar">
                    <div class="scoreboard-item title-value">
                        <h4><?= e(trans('bronx.seo::lang.settings.sitemap_name')) ?></h4>
                        <p><?= e($themeName) ?></p>
                        <p class="description">
                            <?= e(trans('bronx.seo::lang.settings.form.location')) ?> <a href="<?= $sitemapUrl ?>" target="_blank"><?= $sitemapUrl ?></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>
        <div class="padded-container">
            <div class="form-buttons">
                <div class="loading-indicator-container">
                    <button
                            type="submit"
                            data-request="onSave"
                            data-request-data="redirect:0"
                            data-hotkey="ctrl+s, cmd+s"
                            data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                            class="btn btn-primary"
                    ><?= e(trans('backend::lang.form.save')) ?></button>
                    <button
                            type="button"
                            data-request="onSave"
                            data-request-data="close:1"
                            data-hotkey="ctrl+enter, cmd+enter"
                            data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                            class="btn btn-default"
                    ><?= e(trans('backend::lang.form.save_and_close')) ?></button>
                    <button
                            type="button"
                            class="oc-icon-trash-o btn-icon danger pull-right"
                            data-request="onDelete"
                            data-load-indicator="<?= e(trans('backend::lang.form.deleting')) ?>"
                            data-request-confirm="<?= e(trans('backend::lang.form.confirm_delete')) ?>"
                    ></button>
                    <span class="btn-text">
                        <?= e(trans('backend::lang.form.or')) ?> <a href="<?= Backend::url('bronx/seo/definitions') ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                    </span>
                </div>
            </div>
        </div>
    <?= Form::close() ?>
<?php else: ?>
    <div class="padded-container">
        <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
        <p><a href="<?= Backend::url('system/settings') ?>" class="btn btn-default"><?= e(trans('system::lang.form.return_to_list')) ?></a></p>
    </div>
<?php endif ?>