{% set products = shopBasket.products %}

{% for product in products %}
    {% for variant in product.relVariant %}
        <tr>
            <td class="product-remove">
                <a
                        href="javascript:void(0)"
                        data-request="shopBasket::onRemoveProduct"
                        data-request-data="variant_id: '{{ variant.id }}'"
                ><i class="fa fa-times-circle"></i></a>
            </td>
            <td class="product-thumbnail">
                {% set image = variant.relImages.first %}
                <a href="{{ product.url }}"><img src="{{ image.thumb(78, 104, 'crop') }}" srcset="{{ image.thumb(156, 208, 'crop') }} 2x" alt="{{ variant.relColor.name }} {{ product.name }} {{ product.relSize.name }}" /></a>
            </td>
            <td class="product-name">
                <div class="text-nowrap product-name"><a href="{{ product.url }}">{{ product.name }}</a></div>
                <div class="text-nowrap product-color"><strong>Цвет:</strong> {{ variant.relColor.name }}</div>
                <div class="text-nowrap product-size"><strong>Размер:</strong> {{ product.relSize.name }}</div>
            </td>
            <td class="price product-price"><span class="text-nowrap">{{ variant.price_new|numeric }} грн</span></td>
            <td class="quantity product-quantity counter">
                <div class="quantity-wrap">
                    <span data-value="+" class="js-quantity-plus quantity-plus quantity-btn"></span>
                    <input class="js-quantity quantity form-control form-control-sm" type="number" step="1" min="1" max="99" name="quantity[{{ variant.id }}]" value="{{ variant.quantity }}" title="Количество" />
                    <span data-value="-" class="js-quantity-minus quantity-minus quantity-btn"></span>
                </div>
            </td>
            <td class="price product-total"><span class="text-nowrap">{{ variant.total_cost|numeric }} грн</span></td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="6">
            <p>Корзина пуста</p>
            <p><small>Добавьте товар в корзину,<br>затем нажмите кнопку <strong>"обновить"</strong></small></p>
        </td>
    </tr>
{% endfor %}