<form
        data-request="shopBasket::onBasketQuantity"
        data-request-flash
>
    <div class="responsive-table">
        <table class="product-list">
            <thead>
                <tr>
                    <th class="product-remove"></th>
                    <th class="product-thumbnail"></th>
                    <th class="product-name">Наименование</th>
                    <th class="price product-price">Цена ед.</th>
                    <th class="quantity product-quantity">Количество</th>
                    <th class="price product-total">Общая стоимость</th>
                </tr>
            </thead>
            <tbody>
                {% partial 'shop/basket/item' %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <button class="btn btn-dark btn-sm" type="submit"><i class="fa fa-refresh"></i> Обновить</button>
                    </td>
                    <td class="product-quantity">{{ shopBasket.totalQuantity|numeric }} шт</td>
                    <td class="product-total">{{ shopBasket.totalCost|numeric }} грн</td>
                </tr>
            </tfoot>
        </table>
    </div>
</form>

{% if shopBasket.products|length > 0 %}
    <div class="text-center">
        <a class="btn btn-lg btn-primary" href="{{ 'shop/checkout'|page }}"><i class="fa fa-shopping-bag"></i> Оформить заказ</a>
    </div>
{% endif %}