$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Roboto Condensed', sans-serif;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #ec407a !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$white: #ffffff !default;
$gray-50: #fafafa !default;
$gray-100: #f5f5f5 !default;
$gray-200: #eeeeee !default;
$gray-300: #e0e0e0 !default;
$gray-400: #bdbdbd !default;
$gray-500: #9e9e9e !default;
$gray-600: #757575 !default;
$gray-700: #616161 !default;
$gray-800: #424242 !default;
$gray-850: #323232 !default;
$gray-900: #212121 !default;
$black: #000000 !default;

/*------------------------------------------------------------------*/
/* General Style */
/*------------------------------------------------------------------*/

* {
    outline: none;
    box-sizing: border-box;
    &::after, &::before {
        box-sizing: border-box;
    }
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    background: $gray-100;
    color: $gray-700;
    font-family: $font-family-primary;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: none;
    outline: none;
}

br {
    font-size: 0;
    line-height: 0;
}

hr {
    margin: 25px 0;
    border: none;
    border-top: 1px dashed $gray-400;
    &.dark {
        border-top-color: $gray-700;
    }
}

b, strong, .strong {
    font-weight: 600;
}

em, .italic {
    font-style: italic;
}

i {
    &.left {
        margin-right: 10px;
    }
    &.right {
        margin-left: 5px;
    }
    &.icon {
        background-size: 72px auto;
        vertical-align: middle;
        display: inline-block;
        &.md {
            background-image: url('images/icon-md.png');
            width: 36px;
            height: 36px;
            line-height: 36px;
            &.visa {
                background-position: 0 0;
            }
            &.mastercard {
                background-position: -36px 0;
            }
        }
        &.xs {
            background-image: url('images/icon-xs.png');
            width: 18px;
            height: 18px;
            line-height: 18px;
            &.email {
                background-position: 0 0;
            }
            &.kyivstar {
                background-position: -18px 0;
            }
            &.vodafone {
                background-position: -36px 0;
            }
            &.lifecell {
                background-position: -54px 0;
            }

            &.clock {
                background-position: 0 -18px;
            }
            &.delivery {
                background-position: -18px -18px;
            }
            &.map {
                background-position: -36px -18px;
            }
            &.language {
                background-position: -54px -18px;
            }

            &.user {
                background-position: 0 -36px;
            }

            &.chrome {
                background-position: 0 -54px;
            }
            &.firefox {
                background-position: -18px -54px;
            }
            &.opera {
                background-position: -36px -54px;
            }
            &.safari {
                background-position: -54px -54px;
            }
        }
    }
}

@media only screen and (min-resolution: 72dpi) {
    i {
        &.icon {
            &.md {
                background-image: url('images/icon-md@2x.png');
            }
            &.xs {
                background-image: url('images/icon-xs@2x.png');
            }
        }
    }
}

a {
    color: $gray-800;
    text-decoration: none;
    cursor: pointer;
    &.active,
    &:hover {
        color: $pink;
        text-decoration: none;
    }
}

small {
    font-size: 13px;
    color: $gray-800;
    a {
        font-size: 11px;
        color: $pink;
    }
}

ol, ul {
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: 0;
    &.list-inline {
        margin-bottom: 0;
        li {
            display: inline-block;
        }
    }
    &.list-none {
        list-style: none;
        margin-bottom: 0;
        margin-left: 0;
    }
    li {
        color: $gray-800;
    }
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.responsive-table {
    overflow-x: auto;
}

/*------------------------------------------------------------------*/
/* Typography Style */
/*------------------------------------------------------------------*/

/* Hedding ------------------ */

h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, h6, .h6 {
    font-family: $font-family-secondary;
    font-weight: 700;
    color: $gray-800;
    margin-top: 0;
    text-transform: uppercase;
    &.normal {
        font-weight: 400;
    }
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 0;
}

h1, .h1 {
    font-size: 36px;
    line-height: 1.3;
}

h2, .h2 {
    font-size: 28px;
    line-height: 1.3;
}

h3, .h3 {
    font-size: 20px;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-bottom: 0;
}

h4, .h4 {
    font-size: 18px;
}

h5, .h5 {
    font-size: 15px;
}

h6, .h6 {
    font-size: 14px;
}

/* Paragraph ------------------ */

p {
    font-weight: 400;
    font-size: 14px;
    font-family: $font-family-primary;
    color: $gray-800;
    &:last-of-type {
        margin-bottom: 0;
    }
    &.sm {
        font-size: 13px;
        line-height: 22px;
    }
    &.lg {
        font-size: 16px;
    }
    &.xl {
        font-size: 18px;
    }
    a {
        color: $pink;
        &:hover {
            color: darken($pink, 10%);
            text-decoration: underline;
        }
    }
}

/*------------------------------------------------------------------*/
/* Pages Style */
/*------------------------------------------------------------------*/

.content-wrapper {
    .content-inner {
        position: relative;
        width: 100%;
        padding: 35px 0;
        min-height: 500px;
        .content-block,
        .sidebar-block {
            background: $white;
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 25px;
            box-shadow: 3px 0 50px rgba(0, 0, 0, 0.07);
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        .content-block {
            .content {
                padding: 35px;
            }
            .content-no-padding {
                padding: 0;
            }
        }
        .sidebar-block {
            .content {
                padding: 25px;
            }
            .content-no-padding {
                padding: 0;
            }
        }
    }
}

.news-list {
    li {
        a {
            display: block;
            padding: 15px 25px;
            .title {
                display: block;
                font-size: 15px;
                font-family: $font-family-secondary;
                font-weight: 700;
                text-transform: uppercase;
            }
            .description {

            }
            &:hover {
                .title {
                    color: $pink;
                }
                .description {
                    color: $gray-800;
                }
            }
        }
        &:nth-child(odd) a {
            background: $gray-50;
        }
    }
}

.seo-description {
    margin-top: 30px;
    p {
        font-size: 13px;
        line-height: 20px;
    }
}

.cell-bg {
    background-color: $gray-100;
    background-image: url('images/breadcrumb-bg.png');
    background-size: 100px;
}

@media only screen and (min-resolution: 120dpi) {
    .cell-bg {
        background-size: 50px;
    }
}

.image-bg {
    background-image: url('images/image-bg.png');
    background-size: 200px;
}

@media only screen and (min-resolution: 120dpi) {
    .image-bg {
        background-size: 100px;
    }
}

/*------------------------------------------------------------------*/
/* Button */
/*------------------------------------------------------------------*/

.btn {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-family: $font-family-secondary;
    text-transform: uppercase;
    transition: all 0.3s ease 0s !important;
    cursor: pointer;
    padding: 11px 20px 12px !important;
    height: calc(2.25rem + 2px);
    i {
        margin-top: -5px;
        margin-right: 6px;
        &.right {
            margin-left: 6px;
            margin-right: 0;
        }
    }
}

.btn-icon {
    i {
        margin-right: 0;
    }
}

.btn-sm {
    padding: 9px 15px 10px !important;
    height: calc(2rem + 2px);
}

.btn-lg {
    padding: 15px 25px 16px !important;
    height: calc(2.75rem + 2px);
}

/*------------------------------------------------------------------*/
/* Form Style */
/*------------------------------------------------------------------*/

form {
    position: relative;
}

.form-control {
    font-size: 14px;
    border: 1px solid $gray-300;
    background: $white;
    color: $gray-800;
    outline: none;
    font-weight: 400;
    padding: 0 15px;
    display: block;
    text-transform: none;
    vertical-align: middle;
}

input, select {
    &.form-control {
        height: calc(2.25rem + 2px);
    }
}

textarea.form-control {
    min-height: 120px;
    padding: 10px 15px;
}

label.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin: 0;
    cursor: pointer;
    line-height: 25px;
    font-size: 14px;
    &.radio .indicator {
        border-radius: 50%;
        &::after {
            left: 6px;
            top: 6px;
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background: $white;
        }
    }
    &.checkbox .indicator {
        border-radius: 0.25rem;
        &::after {
            font-family: 'FontAwesome';
            content: '\f00c';
            left: 3px;
            top: -3px;
            width: 3px;
            height: 8px;
            font-size: 70%;
            color: $white;
        }
    }
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        top: 0;
        left: 0;
        &:checked ~ .indicator {
            background: $pink;
            border: 1px solid $pink;
            &::after {
                display: block;
            }
        }
    }
    .indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background: $gray-200;
        border: 1px solid $gray-300;
        &::after {
            content: '';
            position: absolute;
            display: none;
        }
    }
}

label {
    color: $gray-800;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 0;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    font-family: $font-family-secondary, sans-serif;
    vertical-align: middle;
    display: block;
}

span.required {
    color: $red;
}

/*------------------------------------------------------------------*/
/* AJAX Overlay & Loader */
/*------------------------------------------------------------------*/
div.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: rgba($black, 0.4);
}

div.loader {
    position: fixed;
    top: calc(40% - 35px / 2);
    left: calc(50% - 35px / 2);
    z-index: 1001;
    background: url('images/loader.svg') center center;
    background-size: 35px 35px;
    height: 35px;
    width: 35px;
    display: none;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.stripe-loading-indicator {
    height: 5px !important;
    z-index: 100000 !important;
    .stripe,
    .stripe-loaded {
        box-shadow: none !important;
        background: $pink repeating-linear-gradient(-45deg, transparent, transparent 25px, rgba($white, 0.15) 25px, rgba($white, 0.15) 50px) !important;
    }
}

/*------------------------------------------------------------------*/
/* Overlay z-index */
/*------------------------------------------------------------------*/

#sidebar_basket_overlay {
    z-index: 1000;
}

#sidebar_filter_overlay {
    z-index: 1000;
}

#popup_overlay {
    z-index: 2000;
}

#overlay {
    z-index: 3000;
}

#loader {
    z-index: 3100;
}