/*------------------------------------------------------------------*/
/* Bread Crumb */
/*------------------------------------------------------------------*/

.breadcrumb {
    ul {
        list-style: none;
        li {
            float: left;
            a {
                color: $gray-800;
                display: block;
                background: $gray-300;
                text-decoration: none;
                position: relative;
                height: 30px;
                line-height: 28px;
                padding: 0 10px 0 5px;
                text-align: center;
                margin-right: 25px;
                font-size: 13px;
                &:before, &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    border: 0 solid $gray-300;
                    border-width: 15px 10px;
                    width: 0;
                    height: 0;
                }
                &:before {
                    left: -20px;
                    border-left-color: transparent;
                }
                &:after {
                    left: 100%;
                    border-color: transparent;
                    border-left-color: $gray-300;
                }
            }
            &:nth-child(even) a {
                background-color: $gray-200;
                &:before {
                    border-color: $gray-200;
                    border-left-color: transparent;
                }
                &:after {
                    border-left-color: $gray-200;
                }
            }
            &:first-child a {
                margin-left: 0;
                padding-left: 15px;
                border-radius: 0 0 0 4px;
                &:before {
                    border: none;
                }
            }
            &:last-child a {
                margin-right: 0;
                padding-right: 15px;
                border-radius: 0 0 4px 0;
                &:after {
                    border: none;
                }
            }
        }
    }
}

/*------------------------------------------------------------------*/
/* Promo */
/*------------------------------------------------------------------*/

.promo {
    padding: 15px 0;
    .promo-item {
        padding: 15px 0;
        display: flex;
        align-items: stretch;
        .icon {
            flex: 0 0 50px;
            i {
                background-image: url('images/promo.png');
                background-size: auto 32px;
                width: 32px;
                height: 32px;
                line-height: 32px;
                vertical-align: middle;
                display: inline-block;
                &.delivery {
                    background-position: 0 0;
                }
                &.payment {
                    background-position: -32px 0;
                }
                &.choice {
                    background-position: -64px 0;
                }
            }
        }
        .info {
            text-align: left;
            h4 {
                margin: 0;
                padding: 0;
                text-transform: uppercase;
                line-height: 32px;
            }
            p {
                color: $gray-800;
                font-weight: 400;
                margin-bottom: 0;
                margin-top: 0;
            }
        }
        &:hover .info h4 {
            color: $pink;
        }
    }
}

@media only screen and (min-resolution: 120dpi) {
    .promo .promo-item .icon i {
        background-image: url('images/promo@2x.png');
    }
}