.footer {
    //background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    background: $gray-850;
    padding: 50px 0 25px;
    .footer-block {
        display: block;
        margin: 0 0 30px;
        .block-title {
            color: $white;
            margin-bottom: 10px;
        }
        p {
            color: $gray-500;
            margin: 30px 0;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        ul {
            margin: 0;
            li {
                display: inline-block;
                width: 100%;
                color: $gray-500;
                position: relative;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    color: $gray-500;
                    margin: 0 auto;
                    &.active,
                    &:hover {
                        color: $pink;
                    }
                }
            }
        }
        &.about-us-block {
            .logotype {
                a {
                    width: 160px;
                    display: block;
                }
            }
        }
        &.footer-counter {
            li {
                display: inline-block;
                width: auto;
                margin-right: 10px;
                img {
                    opacity: 0.5;
                }
            }
        }
        &.schedule-block,
        &.contact-block {
            li {
                padding-left: 25px;
                i {
                    left: 0;
                    line-height: inherit;
                    margin-top: 2px;
                    position: absolute;
                }
            }
        }
    }
}
.footer-copyright {
    background: $gray-900;
    padding: 25px 0;
    ul {
        margin: 0;
        line-height: 36px;
        li {
            display: inline;
            color: $gray-500;
            position: relative;
            line-height: 36px;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            //&:not(:last-child)::after {
            //    content: "/";
            //    padding: 0 5px 0 10px;
            //}
            a {
                color: $gray-500;
                margin: 0 auto;
                &.active,
                &:hover {
                    color: $pink;
                }
            }
        }
    }
}