/*------------------------------------------------------------------*/
/* Product Page */
/*------------------------------------------------------------------*/

.headline {
    h1 {
        margin-bottom: 0;
        & + small {
            font-weight: 400;
            display: block;
            font-size: 14px;
        }
    }
    span {
        white-space: nowrap;
    }
}

.page-separator {
    text-align: center;
    span {
        padding: 5px 15px;
        background: $white;
        display: inline-block;
        border-radius: 5px;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        box-shadow: 3px 0 50px rgba(0, 0, 0, 0.07);
    }
    &.page-counter {
    }
    &.page-liveloader span {
        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin-left: .4em;
            height: 1em;
            width: 1em;
            animation: oc-rotate-loader 0.8s infinite linear;
            border: .2em solid currentColor;
            border-right-color: transparent;
            border-radius: 50%;
            opacity: 0.5;
            filter: alpha(opacity=50);
            margin-right: 10px;
        }
    }
}

/*------------------------------------------------------------------*/
/* Popup */
/*------------------------------------------------------------------*/

.popup {
    display: none;
    position: fixed;
    z-index: 2100;
    border-radius: 10px;
    width: calc(100% - 50px);
    max-width: 690px;
    left: 50%;
    padding: 60px;
    transform: translateX(-50%);
    background-clip: padding-box;
    background: $gray-100 url('images/popup-bg.png') no-repeat top right;
    .substrate {
        position: absolute;
        background: rgba($white, 0.6);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 10px;
    }
    .close-icon {
        position: absolute;
        top: -16px;
        right: -16px;
        display: block;
        width: 30px;
        height: 30px;
        padding: 10px;
        border-radius: 50%;
        background-color: $gray-900;
    }
    .title {
        margin-bottom: 20px;
    }
    .content {
        margin-bottom: 20px;
        color: $gray-800;
    }
    .info {
        margin-bottom: 0;
    }
    .btn {
        margin-right: 10px;
    }
    .close-link {
        font-size: 12px;
        font-family: $font-family-primary;
        text-transform: uppercase;
        color: $gray-600;
        display: inline-block;
        padding: 11px 0 12px !important;
        &:hover {
            color: $gray-900;
        }
    }
}

/*------------------------------------------------------------------*/
/* Icons */
/*------------------------------------------------------------------*/

.close-icon-white {
    background: url('images/close-icon-white.png') no-repeat center center;
    transition: all 0.3s ease 0s;
    &:hover {
        transform: rotate(90deg);
    }
}