/*------------------------------------------------------------------*/
/* Header */
/*------------------------------------------------------------------*/

noscript {
    display: block;
    padding: 15px 50px;
    text-align: center;
    background-color: $pink;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba($white, 0.075) 10px, rgba($white, 0.075) 20px);
    color: $white;
    a {
        color: $white;
        &:hover {
            color: $white;
            text-decoration: underline;
        }
    }
}

.header {
    width: 100%;
    color: $gray-800;
    position: relative;
    z-index: 990;
    box-shadow: 0 0 5px rgba($black, 0.15);
}

/*------------------------------------------------------------------*/
/* Top Header */
/*------------------------------------------------------------------*/

.header-topbar {
    display: table;
    background-color: $white;
    color: $gray-800;
    width: 100%;
    font-size: 15px;
    font-family: $font-family-secondary;
    border-bottom: 1px solid $gray-200;
    letter-spacing: 0.4px;
    z-index: 120;
    .topbar-left {
        float: left;
    }
    .topbar-right {
        float: right;
    }
    .topbar-left,
    .topbar-right {
        display: inline-block;
        vertical-align: middle;
        ul {
            margin: 0;
            li {
                text-align: left;
                display: inline-block;
                vertical-align: middle;
                margin-right: 15px;
                a {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    display: block;
                    font-size: 15px;
                    i {
                        margin-top: -3px;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
                &.auth {
                    line-height: 0;
                    padding-top: 12px;
                }
            }
        }
    }
}

/*------------------------------------------------------------------*/
/* Sub Header */
/*------------------------------------------------------------------*/

.header-subbar {
    display: table;
    background: $white repeating-linear-gradient(-45deg, rgba($pink, 0.05), rgba($pink, 0.05) 10px, rgba($pink, 0.1) 10px, rgba($pink, 0.1) 20px);
    color: $gray-800;
    width: 100%;
    font-size: 15px;
    font-family: $font-family-secondary;
    letter-spacing: 0.4px;
    z-index: 120;

    .navigation-menu {
        width: 100%;
        ul {
            li {
                a {
                    font-size: 13px;
                    padding: 9px 12px 7px;
                    border-bottom-width: 1px;
                    &.active,
                    &:hover {
                        background: transparent;
                    }
                }
            }
        }
    }
}

/*------------------------------------------------------------------*/
/* Dropdown */
/*------------------------------------------------------------------*/

.dropdown-nav {
    position: relative;
    .dropdown-menu {
        font-size: 13px;
        font-weight: 400;
        position: absolute;
        left: 0;
        background: $white;
        border: 1px solid $gray-200;
        border-radius: 4px;
        display: none;
        z-index: 2000;
        list-style: none;
        margin: -4px 0 0 0;
        padding: 5px 0;
        text-transform: none;
        ul li {
            margin: 0;
            display: block;
            a {
                display: block;
                line-height: 1;
                padding: 10px 15px;
                white-space: nowrap;
            }
        }
        .divider {
            border-bottom: 1px solid $gray-200;
            outline: none;
            width: 100%;
            display: block;
            min-height: 1px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    &:hover .dropdown-menu {
        display: block;
    }
}

/*------------------------------------------------------------------*/
/* Header Bar */
/*------------------------------------------------------------------*/

.header-main {
    position: relative;
    z-index: 99;
    display: table;
    width: 100%;
    background: $white;
    .logotype {
        display: inline-block;
        float: left;
        margin-right: 15px;
        a {
            width: 160px;
            display: block;
            padding: 16px 0;
        }
    }
    .basket {
        text-align: center;
        float: right;
        margin: 22px 0 22px 15px;
        width: 160px;
    }
}

/*------------------------------------------------------------------*/
/* Navigation Menu */
/*------------------------------------------------------------------*/

.navigation-menu {
    display: block;
    float: left;
    position: static;
    text-transform: uppercase;
    text-align: center;
    width: 760px;
    ul {
        margin: 0;
        display: table;
        width: 100%;
        list-style: none;
        &.show {
            display: table !important;
        }
        li {
            display: table-cell;
            text-align: center;
            a {
                font-family: $font-family-secondary;
                font-weight: 400;
                font-size: 15px;
                padding: 29px 12px 27px;
                display: block;
                color: $gray-800;
                transition: none;
                text-decoration: none;
                border-bottom: 2px solid transparent;
                &.active,
                &:hover {
                    color: $pink;
                    background: $gray-50;
                    border-bottom-color: $pink;
                }
                span {
                    white-space: nowrap;
                }
            }
            &.dropdown {
                position: relative;
                .dropdown-block {
                    display: none;
                }
                &:hover .dropdown-block {
                    background: #ffffff;
                    display: block;
                    position: absolute;
                    width: 100%;
                    li {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.menu-mobile {
    background: $gray-100;
    color: $gray-800;
    padding: 8px 15px;
    font-family: $font-family-secondary;
    display: none;
    font-size: 15px;
    font-weight: 400;
    border-radius: 3px;
    &:hover {
        color: $pink;
    }
    &::after {
        content: '\f107';
        font-family: 'FontAwesome';
        font-size: 20px;
        padding: 0;
        float: right;
        position: relative;
        top: 5px;
        transform: translateY(-25%);
    }
}

@media only screen and (max-width: 1199px) {
    .navigation-menu {
        width: 580px;
    }
}

@media only screen and (max-width: 991px) {
    noscript {
        padding: 10px 20px;
    }
    .header {
        .header-main {
            .logotype {
                float: none;
            }
            .basket {
                margin: 22px auto;
            }
        }
    }
    .navigation-menu {
        width: 100%;
        ul {
            li {
                a {
                    font-size: 14px;
                    padding: 14px 10px 12px;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .header {
        .header-topbar {
            .topbar-left,
            .topbar-right {
                text-align: center;
                width: 100%;
            }
        }
        .header-subbar {
            background-color: $white;
            background-image: none;
            .navigation-menu {
                margin: 15px 0;
            }
        }
    }
    .navigation-menu {
        display: block;
        float: none;
        position: relative;
        text-transform: uppercase;
        clear: both;
        z-index: 98;
        ul {
            display: none;
            top: 100%;
            width: 100%;
            li {
                display: block;
                background: $white;
                a {
                    font-size: 15px !important;
                    padding: 8px 15px !important;
                    display: block;
                    border-bottom: 1px solid $gray-200 !important;
                }
            }
        }
    }
    .menu-mobile {
        display: block;
    }
}

@media only screen and (max-width: 575px) {
    .header {
        .header-main {
            .logotype {
                display: block;
                width: 100%;
                float: none;
                padding-bottom: 0;
                a {
                    padding: 0;
                    margin: 16px auto !important;
                }
            }
            .basket {
                margin-top: 0;
                float: none;
            }
        }
    }
}