/*------------------------------------------------------------------*/
/* Records */
/*------------------------------------------------------------------*/

.record-list {
    .record-item {
        position: relative;
        margin-bottom: 25px;
        border: 1px solid $gray-200;
        background-color: $gray-50;
        border-radius: 5px;
        overflow: hidden;
        padding: 40px;
        .record-image {
            display: block;
            width: 100%;
            overflow: hidden;
            margin-bottom: 40px;
            img {
                width: 100%;
                height: auto;
            }
        }
        .record-detail {
            .title,
            .name {
                margin-bottom: 5px;
                font-family: $font-family-secondary;
                text-transform: uppercase;
            }
            .info {
                margin-top: 0;
                margin-bottom: 20px;
                span {
                    font-size: 14px;
                    color: $gray-600;
                    &::after {
                        content: "/";
                        padding-right: 5px;
                        padding-left: 5px;
                    }
                    &:last-child::after {
                        content: "";
                        padding: 0;
                        display: none;
                    }
                }
            }
            .content {
            }
            .readmore {
                margin-top: 25px;
            }
        }
    }
}

/*------------------------------------------------------------------*/
/* Basket Page */
/*------------------------------------------------------------------*/

.basket {
    div.responsive-table {
        margin-bottom: 15px;
        table.product-list {
            td {
                &.product-price,
                &.product-total {
                    text-align: center;
                    font-size: 18px;
                }
            }
        }
    }
}

/*------------------------------------------------------------------*/
/* Checkout Page */
/*------------------------------------------------------------------*/

.checkout {
    .consignment {
        border-radius: 5px;
        width: 100%;
        clear: both;
        background: $gray-100;
        min-width: 320px;
        float: right;
        padding: 25px 15px 15px 15px;
        h3 {
            text-align: center;
        }
    }
    div.responsive-table {
        background: $white;
        margin-bottom: 15px;
    }
}

/*------------------------------------------------------------------*/
/* Contact Page */
/*------------------------------------------------------------------*/

.map {
    height: 450px;
}

.information {
    list-style: none;
    padding: 0;
    color: $gray-600;
    margin-bottom: 25px;
    li {
        margin-left: 0;
        margin-bottom: 10px;
        padding: 0;
        i {
            margin-right: 10px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &.contact li {
        margin-bottom: 0;
    }
}