/*------------------------------------------------------------------*/
/* Category List Block */
/*------------------------------------------------------------------*/

.category-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    height: 100%;
    .category-item {
        flex: 1;
        height: 33.3333%;
        margin: 15px 0;
        overflow: hidden;
        min-height: 150px;
        width: 100%;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        span.title {
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            padding: 12px 15px;
            background: rgba($black, 0.5);
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            color: $white;
            margin: 0;
        }
        a {
            background-position: center center;
            display: flex;
            height: 100%;
            position: relative;
            &:hover span.title {
                background: $pink;
            }
        }
    }
    &.lg .category-item {
        span.title {
            font-size: 16px;
        }
    }
    &.md .category-item {
        span.title {
            font-size: 14px;
        }
    }
    &.sm .category-item {
        span.title {
            font-size: 12px;
        }
    }
}

/*------------------------------------------------------------------*/
/* Product List Block */
/*------------------------------------------------------------------*/

.product-list {
    .product-item {
        margin-bottom: 30px;
        border-radius: 4px;
        background: $white;
        box-shadow: 3px 0 50px rgba(0, 0, 0, 0.07);
        .product-image {
            position: relative;
            .label {
                display: block;
                padding: 0;
                position: absolute;
                right: -15px;
                top: -15px;
                width: 40px;
                height: 40px;
                z-index: 2;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    z-index: 100;
                }
            }
            .label-new::after {
                background: url('images/label_new.svg') no-repeat left top;
            }
            .label-sale::after {
                background: url('images/label_sale.svg') no-repeat left top;
            }
            .label-hot::after {
                background: url('images/label_hot.svg') no-repeat left top;
            }
            a {
                display: block;
                position: relative;
                overflow: hidden;
                border-radius: 5px 5px 0 0;
                .product-image-front {
                    display: block;
                }
                .product-image-back {
                    display: none;
                }
                .timer {
                    background: rgba($white, 0.6);
                    height: calc(2.25rem + 2px);
                    padding: 8px 0;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    width: 100%;
                    & > div {
                        float: left;
                        font-size: 13px;
                        margin: 0;
                        width: calc(100% / 4);
                        text-align: center;
                        color: $gray-900;
                        span.counting {
                            display: block;
                            font-size: 14px;
                            line-height: 8px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        .product-detail {
            overflow: hidden;
            text-align: center;
            border-radius: 0 0 4px 4px;
            padding: 20px 0 0;
            .product-title {
                padding: 0 15px 0;
                margin-bottom: 5px;
                a {
                    color: $gray-800;
                    &:hover {
                        color: $pink;
                    }
                }
            }
            .product-description {
                font-size: 14px;
                margin-bottom: 10px;
                padding: 0 15px;
                span {
                    white-space: nowrap;
                }
            }
            .product-price {
                text-transform: uppercase;
                font-family: $font-family-secondary;
                font-weight: 700;
                padding: 0 15px;
                .old-price {
                    color: $gray-600;
                    font-weight: 400;
                    font-size: 15px;
                    margin-right: 10px;
                    font-style: italic;
                    position: relative;
                    white-space: nowrap;
                    &::before {
                        content: '';
                        width: 100%;
                        height: 1px;
                        position: absolute;
                        background: $pink;
                        left: 0;
                        top: 50%;
                    }
                }
                .price {
                    color: $pink;
                    font-size: 19px;
                    white-space: nowrap;
                }
            }
            .product-basket {
                padding: 15px 0 0;
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .product-list {
        .product-item {
            .product-image {
                a {
                    border-radius: 4px 0 0 4px;
                    img {
                    }
                    .timer {
                        & > div {
                            width: calc(100% / 3);
                            &.seconds {
                                display: none;
                            }
                        }
                    }
                }
            }
            .product-detail {
                border-radius: 0 4px 4px 0;
                height: 100%;
                position: relative;
                .product-basket {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    button {
                        border-radius: 0 0 4px 0;
                    }
                }
            }
        }
    }
}

/*------------------------------------------------------------------*/
/* Product List Table */
/*------------------------------------------------------------------*/

table.product-list {
    width: 100%;
    td {
        border-bottom: 1px solid $gray-200;
        padding: 15px 12px;
        text-align: center;
        vertical-align: middle;
        &.price,
        &.quantity {
            font-size: 14px;
            font-weight: 700;
        }
    }
    thead {
        th {
            border-bottom: 2px solid $gray-200;
            vertical-align: middle;
            font-size: 16px;
            line-height: 1.4;
            font-weight: 600;
            padding: 15px 10px;
            color: inherit;
            margin: 0;
            text-transform: uppercase;
            text-align: center;
            &.product-remove {
                width: 40px;
            }
            &.product-thumbnail {
                width: 80px;
            }
            &.product-name {
            }
            &.product-price {
            }
            &.product-quantity {
            }
            &.product-total {
            }
        }
    }
    tbody {
        tr:last-of-type {
            td {
                border-bottom: none;
            }
        }
        td {
            font-size: 14px;
            &.product-remove {
                a {
                    font-size: 18px;
                }
            }
            &.product-thumbnail {
                img {
                    max-width: 80px;
                }
            }
            &.product-name {
                text-align: left;
                .product-name {
                    font-size: 16px;
                    font-family: $font-family-secondary;
                    text-transform: uppercase;
                }
                .product-color,
                .product-size {
                    font-size: 13px;
                }
            }
            &.product-price,
            &.product-quantity,
            &.product-total {
                text-transform: uppercase;
            }
            &.product-quantity {
                &.counter {
                    text-align: center;
                }
            }
            &.product-total {
            }
        }
    }
    tfoot {
        td {
            border-top: 2px solid $gray-200;
            border-bottom: none;
            font-size: 16px;
            font-weight: 700;
            &.product-general {
                text-align: left;
            }
            &.product-quantity {
                text-transform: uppercase;
            }
            &.product-total {
                text-transform: uppercase;
            }
        }
    }
}

/*------------------------------------------------------------------*/
/* Product Single */
/*------------------------------------------------------------------*/

.product-single {
    .product-image {
        .product-image-images {
        }
        .product-image-thumbnails {
            margin-bottom: 25px;
        }
    }
    .product-content {
        .product-title {

        }
        .product-detail {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
        }
        .product-price {
            text-transform: uppercase;
            font-family: $font-family-secondary;
            font-weight: 700;
            .old {
                color: $gray-600;
                font-weight: 400;
                font-size: 18px;
                margin-right: 10px;
                font-style: italic;
                position: relative;
                &::before {
                    content: '';
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    background: $pink;
                    left: 0;
                    top: 50%;
                }
            }
            .sale {
                color: $pink;
                font-size: 24px;
            }
        }
        .product-basket {
            padding: 15px 0;
            .product-select {
                display: inline-block;
                margin-right: 15px;
                width: 160px;
                select {
                }
            }
            .product-order {
                display: inline-block;
                width: 160px;
                button {
                }
            }
        }
        .product-description {
            margin: 15px 0;
            h4 {
                margin-bottom: 15px;
            }
            * + h4 {
                margin-top: 30px;
            }
            ul {
                margin-left: 20px;
                &.contact-information {
                    margin-left: 0;
                }
                li {
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.nav-tabs {
    margin-top: 30px;
    margin-left: 0;
    border-bottom: 1px solid $gray-200;
    .nav-item {
        a {
            display: block;
            padding: 10px 15px;
            background-color: $gray-200;
            &.active,
            &:hover {
                color: $white;
                background-color: $pink;
            }
        }
    }
}

.tab-content {
    margin-bottom: 30px;
    padding: 20px 25px;
    background-color: $gray-100;
    .tab-pane {
        ul {
            margin-left: 1rem;
            margin-bottom: 1rem;
        }
    }
}

/*------------------------------------------------------------------*/
/* Quantity */
/*------------------------------------------------------------------*/

.quantity-wrap {
    position: relative;
    width: 120px;
    display: inline-block;
    .quantity {
        margin: 0;
        -webkit-appearance: none !important;
        -moz-appearance: textfield !important;
        width: 100%;
        min-width: 80px;
        border-color: $gray-300;
        text-align: center;
        padding-left: 35px;
        padding-right: 35px;
        &:hover,
        &:focus {
            margin: 0;
            -webkit-appearance: none !important;
            -moz-appearance: textfield !important;
            width: 100%;
            min-width: 80px;
            border-color: $gray-300;
            text-align: center;
            padding-left: 35px;
            padding-right: 35px;
        }
        &::-ms-expand {
            display: none;
        }
    }
    input[type="number"]::-webkit-outer-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0;
    }
    .quantity-plus,
    .quantity-minus {
        position: absolute;
        right: 0;
        cursor: pointer;
        height: 100%;
        width: 30px;
        top: 0;
        &::before {
            height: 100%;
            position: relative;
            width: 100%;
            display: block;
            text-align: center;
            line-height: 1.9;
            font-size: 18px;
        }
        &.disabled {
            &::before {
                color: $gray-300;
            }
        }
    }
    .quantity-plus {
        border-left: 1px solid $gray-300;
        &::before {
            content: "+";
        }
    }
    .quantity-minus {
        left: 0;
        border-right: 1px solid $gray-300;
        &::before {
            content: "–";
        }
    }
}

/*------------------------------------------------------------------*/
/* Slick Slider */
/*------------------------------------------------------------------*/

.slick-slider {
    .item {
        position: relative;
        .color-info {
            display: table;
            bottom: 0;
            position: absolute;
            left: 0;
            width: 100%;
            text-align: center;
            background: rgba($gray-100, 0.7);
            padding: 10px 20px;
            &:hover {
                color: inherit;
            }
            a {
                display: block;
            }
            span {
                display: table-cell;
                vertical-align: middle;
                &.name {
                    color: $gray-800;
                    font-family: $font-family-secondary;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 700;
                    &:hover {
                        color: inherit;
                    }
                }
                &.color {
                    background: $white;
                    border: 1px solid $white;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    &.white,
                    &.cream,
                    &.peach {
                        border-color: $gray-800;
                    }
                }
            }
        }
    }
    .slick-prev,
    .slick-next {
        opacity: 0.5;
        border-radius: 3px;
        background: $white;
        z-index: 2;
        border: 1px solid $gray-200;
        width: 30px;
        height: 30px;
        transform: translate(0, -50%);
        &::before {
            opacity: 1;
        }
    }
    &:hover {
        background: $white;
        .slick-prev,
        .slick-next {
            opacity: 1;
            visibility: visible;
        }
    }
    .slick-prev {
        left: 10px;
        &::before {
            margin-right: 2px;
        }
    }
    .slick-next {
        right: 10px;
        &::before {
            margin-left: 2px;
        }
    }
}

.slick-images {
    .slick-prev,
    .slick-next {
        //box-shadow: 0 0 5px rgba($black, 0.05);
    }
}

.slick-thumbnails {
    background: $gray-100;
    padding: 0 25px;
    .item {
        cursor: pointer;
    }
    .slick-prev,
    .slick-next {
        background: $pink;
        border: none;
        width: 25px;
        height: 100%;
        border-radius: 0;
        top: 0;
        transform: translate(0, 0);
        &::before {
            color: $white;
        }
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
}