/*------------------------------------------------------------------*/
/* Sidebar Widget */
/*------------------------------------------------------------------*/

.sidebar-container {
    position: relative;
    .widget-sidebar {
        &.widget-outline {
            border: 1px solid $gray-200;
            padding: 15px;
        }
        .widget-title {
            margin-bottom: 10px;
        }
        .widget-description {
            margin-top: -10px;
            margin-bottom: 20px;
        }
        .widget-btn {
            margin-top: 15px;
            text-align: center;
        }
        .widget-content {
            padding: 0;
            list-style: none;
            margin: 0;
            li, ul li {
                list-style: none;
            }
        }
    }
}

/*------------------------------------------------------------------*/
/* Sidebar Menu */
/*------------------------------------------------------------------*/

.sidebar-menu {
    background: $white;
    width: 300px;
    max-width: 100%;
    height: 100%;
    top: 0;
    z-index: 1100;
    position: fixed;
    transition: all 0.5s ease 0s;
    overflow-y: scroll;
    &.sidebar-right {
        right: -300px;
        &.sidebar-open {
            right: 0;
        }
    }
    &.sidebar-left {
        left: -300px;
        &.sidebar-open {
            left: 0;
        }
    }
    .sidebar-wrap {
        display: table;
        width: 100%;
        height: 100%;
        .widget-heading {
            padding: 30px;
            display: block;
            background: $pink;
            h4, h5, h4, h3 {
                color: $white;
                margin-bottom: 0;
                margin-top: 0;
            }
            .sidebar-close {
                position: absolute;
                right: 10px;
                top: 16px;
                height: 50px;
                width: 50px;
            }
        }
        .widget-content {
            padding: 15px;
            position: relative;
        }
        .widget-total {
            .total-inner {
                padding: 0 15px 15px;
                .buttons {
                    padding-top: 15px;
                    display: block;
                    text-align: center;
                    .btn {
                        width: 100%;
                        margin-bottom: 15px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                .total {
                    font-weight: 700;
                    padding-top: 15px;
                    border-top: 1px solid $gray-100;
                    margin-bottom: 0;
                    .price {
                        color: $pink;
                        float: right;
                    }
                }
            }
        }
    }
}

/*------------------------------------------------------------------*/
/* Widgets */
/*------------------------------------------------------------------*/

.widget-sidebar {
    margin-bottom: 0px;
}

.widget-list {
    position: relative;
    .none {
        p {
            font-size: 14px;
            text-align: center;
        }
    }
    ul {
        padding: 0;
        list-style: none;
        margin-bottom: 0;
        margin-left: 0;
        li {
            border-bottom: 1px solid $gray-200;
            padding-bottom: 15px;
            margin-bottom: 15px;
            display: block;
            position: relative;
            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            .image {
                display: table-cell;
                float: none !important;
                margin-right: 0;
                width: 30%;
                img {
                    width: 100%;
                    vertical-align: top;
                    max-width: 100%;
                    height: auto;
                    border: none;
                    outline: none;
                }
            }
            .image + .content {
                padding-left: 15px;
            }
            .content {
                border: 0 none;
                width: 70%;
                display: table-cell;
                float: none !important;
                padding: 0 20px 0 0;
                text-align: left;
                vertical-align: top;
                &.post {
                    .link {
                    }
                    .date {
                        i {
                            margin-right: 5px;
                        }
                        font-size: 13px;
                        color: $gray-600;
                    }
                    .description {
                        font-size: 13px;
                        color: $gray-900;
                        margin-bottom: 0;
                    }
                }
                &.review {
                    .link {
                        margin-bottom: 10px;
                    }
                    .review {
                    }
                }
                &.product {
                    .link {
                        text-transform: uppercase;
                        margin-bottom: 5px;
                    }
                    .remove {
                        position: absolute;
                        right: 0;
                        top: 0;
                        font-size: 18px;
                        font-weight: normal;
                        letter-spacing: 0;
                        text-align: center;
                    }
                    .collateral {
                        text-transform: uppercase;
                        margin-bottom: 5px;
                        color: $gray-800;
                        font-size: 13px;
                        font-weight: 700;
                        &.primary {
                            color: $pink;
                        }
                        .quantity {
                        }
                        .price {
                        }
                    }
                    .info {
                        text-transform: uppercase;
                        font-size: 12px;
                        .size {
                        }
                        .color {
                        }
                    }
                }
                .link {
                    font-size: 15px;
                    font-weight: 700;
                    font-family: $font-family-secondary;
                    color: $gray-800;
                    display: block;
                    line-height: 1.4;
                    &:hover {
                        color: $pink;
                    }
                }
            }
        }
    }
}

.widget-filter {
    ul {
        margin-bottom: 0;
        margin-left: 0;
        list-style: none;
        li {
            list-style: none;
            margin-bottom: 10px;
            display: block;
            label.control {
                font-family: $font-family-secondary;
                .count {
                    float: right;
                }
                .indicator {
                    font-size: 16px;
                    &.color {
                        border: 0 solid transparent !important;
                        &.white,
                        &.milky,
                        &.cream,
                        &.peach {
                            &::after {
                                color: $gray-800;
                            }
                        }
                        &.white,
                        &.milky {
                            border: 1px solid $gray-600 !important;
                        }
                    }
                }
            }
        }
        &.widget-filter-2x {
            li {
                display: inline-block;
                width: calc(50% - 12px);
                margin-right: 10px;
                &:nth-child(even) {
                    margin-right: 0;
                    margin-left: 10px;
                }
            }
        }
    }
}