<div
    class="layout-absolute"
    data-control="sitemap-item-editor"
    data-alias="<?= $this->alias ?>"
    data-item-properties="<?= e($itemProperties) ?>"
>
    <div class="control-scrollbar" data-control="scrollbar">
        <div
                class="control-treeview treeview-light"
                data-control="treeview"
                id="<?= $this->getId('item-list') ?>"
        ><?= $this->makePartial('items', ['items' => $items]) ?></div>
    </div>

    <script type="text/template" data-editor-template>
        <?= $this->makePartial('editortemplate') ?>
    </script>

    <script type="text/template" data-item-template>
        <?= $this->makePartial('item', ['item' => $emptyItem]) ?>
    </script>
</div>