{% set paginate = shopCatalog.products %}

{% if paginate.currentPage < paginate.lastPage %}
<div
        class="page-separator page-liveloader"
        data-control="liveloader"
        data-offset="250"
        data-request="onChangeNumPage"
        data-current-page="{{ paginate.currentPage }}"
        data-last-page="{{ paginate.lastPage }}"
><span>Загрузка товаров</span></div>
{% elseif paginate.total > 0 %}
    <div class="page-separator"><span>Это всё что есть ^^</span></div>
{% else %}
    <div class="page-separator"><span>Товаров нет :(. Измените критерий отбора</span></div>
{% endif %}