<span class="oc-icon-square" style="color: <?= $record->relProductColor->color_primary; ?>"></span>
<?php if ($record->relProductColor->color_secondary): ?>
    <span class="oc-icon-square" style="color: <?= $record->relProductColor->color_secondary; ?>"></span>
<?php endif; ?>
<?= $record->relProductColor->name; ?>