title = "Внутренняя ошибка сервера (ошибка 500)"
url = "/error"
layout = "default"
is_hidden = 0
meta_noindex = 1

[shopCategoryList]
catalogPage = "shop/catalog"
categoryGetNested = 1
categoryPerPage = 0
categoryOrderBy = "id"
categoryOrderSort = "asc"
==
{% partial 'layout/breadcrumb' title = 'Внутренняя ошибка сервера (ошибка 500)' %}

<section class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="h2">Произошла ошибка</h1>
                <p>Не беспокойтесь, мы уже принимаем меры по её устранению.</p>
                <p>Предлагаем Вашему вниманию мягкие игрушки:</p>
                <div>
                    {% set categories = shopCategoryList.categories %}
                    {% for category in categories %}
                        <a href="{{ category.url }}" class="btn btn-outline-primary btn-sm">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>