title = "Магазин плюшевых мишек"
url = "/"
layout = "default"
meta_title = "Магазин плюшевых медведей с доставкой по Украине"
meta_description = "Интернет магазин плюшевых медведей и других мягких игрушек с доставкой по всей Украине. Наши мишки фабричного качества №1 в Украине"
is_hidden = 0

[shopCategoryList]
catalogPage = "shop/catalog"
categoryGetNested = 1
categoryPerPage = 0
categoryOrderBy = "nest_left"
categoryOrderSort = "asc"
==
{% set categories = shopCategoryList.categories %}

<section class="content-wrapper">
    <div class="container">
        <div class="content-inner">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 order-md-1 order-sm-1 order-2">
                    <div class="sidebar-container">
                        {% partial 'static/sidebar' %}
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-6 order-md-2 order-sm-2 order-1">
                    <div class="content-block">
                        <div class="content">
                            <div class="row">
                                <div class="col-12">
                                    <h1 class="h2">Интернет магазин плюшевых медведей и других мягких изделий</h1>
                                </div>
                            </div>
                        </div>
                        <div class="content-no-padding">
                            <div class="row">
                                <div class="col-5">
                                    <div class="category-list lg">
                                        {% for category in categories|slice(0, 1) %}
                                            <div class="category-item">
                                                {% set default = 'https://via.placeholder.com/325x510' %}
                                                <a href="{{ category.url }}" style="background-image: url('{{ category.relImage.thumb(350, 510, 'crop')|default(default) }}')">
                                                    <span class="title">{{ category.name }}</span>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="category-list md">
                                        {% for category in categories|slice(1, 2) %}
                                            <div class="category-item">
                                                {% set default = 'https://via.placeholder.com/255x240' %}
                                                <a href="{{ category.url }}" style="background-image: url('{{ category.relImage.thumb(350, 240, 'crop')|default(default) }}')">
                                                    <span class="title">{{ category.name }}</span>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="category-list sm">
                                        {% for category in categories|slice(3, 4) %}
                                            <div class="category-item">
                                                {% set default = 'https://via.placeholder.com/185x150' %}
                                                <a href="{{ category.url }}" style="background-image: url('{{ category.relImage.thumb(350, 150, 'crop')|default(default) }}')">
                                                    <span class="title">{{ category.name }}</span>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-12">
                                    <p>Интернет-магазин BigBear – является специализированным магазином, который занимается продажей брендовых мягких игрушек (плюшевые медведи, сердца, панды, зайцы). У нас вы можете купить замечательные мягкие игрушки всех размеров и цветов.</p>
                                    <p>Вся продукция изготовлена из высококачественных материалов, на современном оборудовании. В набивке используются не токсичный, гипоаллергенный синтепон или холлофайбер. Все мелкие детали игрушки - надёжно зафиксированы. По этому каждая игрушка отвечает всем санитарно-гигиеническим нормам, безопасности и не вызывает аллергических реакций, так что вы без опасения можете давать играться ими детям.</p>
                                    <p>Для заказа мягкой игрушки вам необходимо добавить понравившийся товар в корзину и оформить заказ. Наш менеджер перезвонит Вам для подтверждения заказа и уточнения деталей. Также, вы можете позвонить нам по телефонам, которые указаны на нашем сайте, и уточнить всю интересующую вас информацию у наших менеджеров.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>