title = "Закрыто на обслуживание"
url = "/maintenance"
layout = "default"
is_hidden = 0
meta_noindex = 1
==
{% partial 'layout/breadcrumb' title = 'Закрыто на обслуживание' %}

<section class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="h2">Интернет магазин закрыт на обслуживание</h1>
                <p>Приносим свои извинения.</p>
            </div>
        </div>
    </div>
</section>