title = "Ваш браузер устарел"
url = "/oldbrowser"
layout = "default"
is_hidden = 0
meta_noindex = 1
==
{% partial 'layout/breadcrumb' title = 'Ваш браузер устарел' %}

<section class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="h2">Обновите браузер</h1>
                <p>Ваш браузер не поддерживает JavaScript, из-за этого браузер не может отображать сайт правильно.</p>
                <p>Пожалуйста, установите на своё устройство современный браузер:</p>
                <div>
                    <a href="https://www.google.com/chrome/" class="btn btn-outline-primary btn-sm" target="_blank"><i class="icon xs chrome"></i> Google Chrome</a>
                    <a href="https://www.mozilla.org/ru/firefox/new/" class="btn btn-outline-primary btn-sm" target="_blank"><i class="icon xs firefox"></i> Mozilla Firefox</a>
                    <a href="https://www.opera.com/ru" class="btn btn-outline-primary btn-sm" target="_blank"><i class="icon xs opera"></i> Opera</a>
                    <a href="https://support.apple.com/downloads/safari" class="btn btn-outline-primary btn-sm" target="_blank"><i class="icon xs safari"></i> Safari</a>
                </div>
            </div>
        </div>
    </div>
</section>