<div class="col-12">
    <div class="record-item">
        {% if post.relImage %}
            <div class="record-image">
                <a href="{{ post.url }}"><img src="{{ post.relImage.thumb(743, 360, 'crop') }}" alt="{{ post.meta_title }}" title="{{ post.meta_description }}"></a>
            </div>
        {% endif %}
        <div class="record-detail">
            <h2 class="h3 title"><a href="{{ post.url }}">{{ post.name }}</a></h2>
            <div class="info">
                <span><i class="fa fa-clock-o"></i> {{ post.created_at|date('d.m.Y') }}</span>
            </div>
            <div class="content">
                <p>{{ post.short_content }}</p>
            </div>
            <div class="readmore">
                <a href="{{ post.url }}" class="btn btn-primary btn-sm">Читать полностью <i class="fa fa-long-arrow-right right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>