{% set posts = blogPostList.posts %}

<div class="row record-list">
    {% for post in posts %}
        {% partial 'news/list/item' post = post %}
    {% else %}
        <div class="col-12">
            <p style="text-align: center;">Акции или новости не найдены</p>
        </div>
    {% endfor %}
</div>