<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('bronx/user/users') ?>">Users</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>
    <?php Block::put('form-contents') ?>
        <div class="form-preview">
            <div class="layout-row min-size">
                <?= $this->formRender(['section' => 'outside', 'preview' => true]) ?>
            </div>
            <div class="layout-row">
                <?= $this->formRender(['section' => 'primary', 'preview' => true]) ?>
            </div>
        </div>
    <?php Block::endPut() ?>

    <?php Block::put('form-sidebar') ?>
        <div class="hide-tabs">
            <?= $this->formRender(['section' => 'secondary', 'preview' => true]) ?>
        </div>
    <?php Block::endPut() ?>

    <?php Block::put('body') ?>
        <?= Form::open(['class'=>'layout stretch']) ?>
            <?= $this->makeLayout('bronx-form-with-sidebar') ?>
        <?= Form::close() ?>
    <?php Block::endPut() ?>
<?php else: ?>
    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('bronx/user/users') ?>" class="btn btn-default"><?= e(trans('backend::lang.form.return_to_list')) ?></a></p>
<?php endif ?>