<div class="callout fade in callout-danger">
    <div class="header">
        <i class="icon-warning"></i>
        <h3><?= e(trans('bronx.telegram::lang.view.login.title')); ?></h3>
        <p><?= e(trans('bronx.telegram::lang.view.login.subtitle')); ?></p>
    </div>
    <div class="content">
        <p><?= e(trans('bronx.telegram::lang.view.login.description')); ?></p>
        <?php
            $options = $field->options;
        ?>

        <?php if ($options['name'] != null): ?>
            <p class="text-center"><script async src="https://telegram.org/js/telegram-widget.js?2" data-telegram-login="<?= $options['name'] ?>" data-size="small" data-radius="20" data-auth-url="<?= route('telegram_auth_backend') ?>" data-request-access="write"></script></p>
        <?php endif; ?>
    </div>
</div>