<div class="callout fade in callout-warning">
    <div class="header">
        <i class="icon-warning"></i>
        <h3><?= e(trans('bronx.telegram::lang.view.logout.title')); ?></h3>
        <p><?= e(trans('bronx.telegram::lang.view.logout.subtitle')); ?></p>
    </div>
    <div class="content">
        <p><?= e(trans('bronx.telegram::lang.view.logout.description')); ?></p>
        <?php
            $options = $field->options;
        ?>

        <p class="text-center"><button class="btn btn-danger btn-sm" type="button" data-request="onDetachTelegram" data-request-data="user_id: '<?= $options['user_id']; ?>'"><?= e(trans('bronx.telegram::lang.view.logout.logout')); ?></button></p>
    </div>
</div>