{% set posts = blogPostList.posts %}

<div class="col-12">
    <h1 class="h2">Новости и акции</h1>
    <small>Найдено {{ posts.total|plural(['новость или акция', 'новости или акции', 'новостей или акций']) }}. Страница {{ posts.currentPage }} из {{ posts.lastPage }}</small>
</div>