.list-widget .custom-switch {
    display: block;
    width: 54px;
    height: 19px;
    position: relative;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.list-widget .custom-switch * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.list-widget .custom-switch.disabled {
    opacity: 0.5;
    filter: alpha(opacity=50)
}

.list-widget .custom-switch .slide-button {
    z-index: 9;
    display: block;
    position: absolute;
    right: 37px;
    top: 3px;
    width: 13px;
    height: 13px;
    background-color: #f6f6f6;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.list-widget .custom-switch label,
.list-widget .custom-switch > span {
    line-height: 15px;
    vertical-align: middle;
}

.list-widget .custom-switch label {
    z-index: 8;
    width: 100%;
    display: block;
    position: relative
}

.list-widget .custom-switch input {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0)
}

.list-widget .custom-switch input:checked ~ .slide-button {
    right: 4px
}

.list-widget .custom-switch input:checked ~ span {
    background-color: #76a544
}

.list-widget .custom-switch input:checked ~ span span:first-of-type {
    color: #ffffff;
    display: block
}

.list-widget .custom-switch input:checked ~ span span:last-of-type {
    color: #666666;
    display: none
}

.list-widget .custom-switch > span {
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #bb2424;
    font-size: 10px;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
}

.list-widget .custom-switch > span span {
    z-index: 10;
    display: block;
    width: 50%;
    position: absolute;
    top: 2px;
    left: -1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.list-widget .custom-switch > span span:last-child {
    left: 21px;
    color: #ffffff;
    display: block
}

.list-widget .custom-switch > span span:first-of-type {
    padding-left: 9px;
    display: none;
    color: #666666;
}