<h1 class="h2">Доставка</h1>
<p>Приём заказов по телефону и отправка посылок осуществляется согласно графику работы нашего интернет-магазина и выбранной Вами курьерской службы. Прием заказов через корзину - круглосуточно, без выходных.</p>
<p>Доставка осуществляется курьерскими службами: «Новая Почта», «Ин Тайм».</p>
<p><b>Важно:</b> при отправке на отделение - выбранное Вами отделение курьерской службы должно принимать посылки большей или равной объемному весу выбранного медведя (объемный вес каждого медведя указан в характеристиках).</p>
<p>После оформления заказа наш сотрудник свяжется по указанному вами телефону для подтверждения заказа и уточнения деталей.</p>
<p>Если товар заказан ПН-СБ до 15:00 (Новая Почта) или ПН-ПТ 14:00 (Ин Тайм) - доставка/отправка в тот же день, если позже - на следующий день.</p>
<p>Расчет доставки заказа по Украине производится непосредственно в отделении выбранной вами курьерской службы, и варьируется от 40 до 200 грн., в зависимости от объемного веса медведя.</p>
<p>Сразу после отправки посылки курьерской службой - на ваш номер телефона будет отправлено SMS-сообщение с указанием номера накладной, по которой можно будет получить посылку.</p>