<h1 class="h2">Оплата</h1>
<p>Заказ можно оплатить:</p>
<ul class="list">
    <li>при получении посылки в отделении курьерской службы (наложенный платеж);</li>
    <li>по предоплате (безналичный платеж на карту ПриватБанка);</li>
    <li>наличными при доставке курьером.</li>
</ul>
<p>При заказе наложенным платежом - курьерской службой взимается дополнительная сумма в размере 20-40 грн, за возврат денежных средств отправителю.</p>