<h1 class="h2">Гарантии и возврат</h1>
<p>Интернет-магазин BigBear предоставляет гарантию на все товары без исключения. Перед отправкой каждый заказ тщательно проверяется и комплектуется.</p>

<h2 class="h3">Условия возврата или обмена</h2>
<p>Обмен или возврат товара проводится, если имеется веская причина недовольства полученным заказом.</p>
<p>Интернет-магазин BigBear гарантирует обменять товар или возвратить за него деньги в течение 14 календарных дней после получения заказа, только если он не использовался и если сохранен его товарный вид, потребительские свойства, ярлыки и расчетный документ, выданный транспортной службой вместе с товаром.</p>

<h2 class="h3">Процедура возврата или обмена</h2>
<p>Покупатель должен отправить товар и надлежащие документы на указанное продавцом отделение почты. Если посылка была отправлена покупателем наложенным платежом, то такую посылку мы не получаем.</p>
<p>Деньги за возвращенный товар мы перечисляем на карту любого банка или предлагаем в замен выслать аналогичный товар надлежащего качества.</p>