<section id="sidebar_basket" class="sidebar-menu sidebar-right">
    <div class="sidebar-wrap">
        <div class="widget-heading">
            <h3>Мини корзина</h3>
            <a href="javascript:void(0);" class="js-sidebar-basket-close close-icon-white sidebar-close"></a>
        </div>

        <div id="_sidebar_basket_wrapper">
            {% partial 'shop/sidebar/basket/wrapper' %}
        </div>
    </div>
</section>
<div id="sidebar_basket_overlay" class="overlay"></div>