<section class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="list-none list-inline" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="{{ 'home'|page }}" itemprop="item"><span itemprop="name">{{ this.theme.tagline }}</span></a>
                        <meta itemprop="position" content="1">
                    </li>
                    {% set index = 1 %}
                    {% for page in pages %}
                        {% set index = loop.index + 1 %}
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a href="{{ page.url }}" itemprop="item"><span itemprop="name">{{ str_words(page.name, 6) }}</span></a>
                            <meta itemprop="position" content="{{ index }}">
                        </li>
                    {% endfor %}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="{{ ''|page }}" itemprop="item"><span itemprop="name">{{ title }}</span></a>
                        <meta itemprop="position" content="{{ index + 1 }}">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>