<section id="sidebar_filter" class="sidebar-menu sidebar-left">
    <div class="sidebar-wrap">
        <div class="widget-heading">
            <h3>Фильтр</h3>
            <a href="javascript:void(0);" class="js-sidebar-filter-close sidebar-close close-icon-white"></a>
        </div>

        <div class="widget-content">
            <div id="_sidebar_filter_wrapper">
                {% partial 'shop/catalog/filter' %}
            </div>
        </div>
    </div>
</section>
<div id="sidebar_filter_overlay" class="overlay"></div>