<!-- Script -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPUISIU8waqcNaAXpNmgYdSKJDRFWLVZw"></script>
<script src="{{ ['assets/app.min.js']|theme }}"></script>

{% scripts %}

{% if not isAdmin() %}
    <!-- Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119580239-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-119580239-1');
    </script>
{% endif %}