<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="footer-block about-us-block">
                    <div class="logotype">
                        <a href="{{ 'home'|page }}">
                            <img src="{{ 'assets/images/logotype.png'|theme }}" srcset="{{ 'assets/images/logotype@2x.png'|theme }} 2x" alt="{{ this.theme.title }}" title="{{ this.theme.title }}">
                        </a>
                    </div>
                    <p>Интернет-магазин брендовых мягких игрушек, с доставкой по Украине</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="footer-block schedule-block">
                    <h4 class="block-title">График работы</h4>
                    <ul>
                        <li><i class="icon xs clock"></i>Будние: с <strong>9:00</strong> до <strong>20:00</strong><br>Выходные: с <strong>10:00</strong> до <strong>20:00</strong></li>
                        <li><i class="icon xs delivery"></i>Приём заказов, с отправкой в тот же день:<br><strong>«Новая Почта»</strong> ПН-СБ до 15:00<br><strong>«Ин Тайм»</strong> ПН-ПТ до 14:00</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="footer-block contact-block">
                    <h4 class="block-title">Контакты</h4>
                    <ul>
                        <li><i class="icon xs kyivstar"></i><a href="tel:+380960609545">+380 (96) 06-09-545</a></li>
                        <li><i class="icon xs vodafone"></i><a href="tel:+380660609545">+380 (66) 06-09-545</a></li>
                        <li><i class="icon xs lifecell"></i><a href="tel:+380730609545">+380 (73) 06-09-545</a></li>
                        <li><i class="icon xs map"></i><a href="{{ 'static/contact'|page }}">ул. Маршала Малиновского 2,<br>Днипро, Днепр-ская область</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="footer-block info-block">
                    <h4 class="block-title">Информация</h4>
                        <ul>
                            <li><a href="{{ 'home'|page }}">Главная</a></li>
                            <li><a href="{{ 'news/list'|page }}">Новости и акции</a></li>
                            <li><a href="{{ 'static/payment'|page }}">Оплата</a></li>
                            <li><a href="{{ 'static/delivery'|page }}">Доставка</a></li>
                            <li><a href="{{ 'static/contact'|page }}">О магазине</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-sm-left text-center">
                <ul>
                    <li>&copy; Интернет-магазин BigBear {{ 'now'|date('Y') }}</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-sm-right text-center">
                <ul>
                    <li><i class="icon md visa"></i></li>
                    <li><i class="icon md mastercard"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>