<title>{{ this.page.meta_title|default(this.page.title) }} - {{ this.theme.title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="google-site-verification" content="_X5TA_ji3wUIXDWZkab3Z5tF3TTlhLKZIbqkdy8MHZM">

<!-- Information -->
<meta name="author" content="Alexander Shapoval">

<!-- SEO -->
{% if this.page.meta_description %}<meta name="description" content="{{ this.page.meta_description }}">{% endif %}
{% if this.page.meta_keywords %}<meta name="keywords" content="{{ this.page.meta_keywords }}">{% endif %}
{% if this.page.meta_noindex %}<meta name="robots" content="noindex">{% endif %}

<link rel="canonical" href="{{ this.page.meta_canonical|default(''|page) }}">
{% if this.page.urlPrevPage %}<link rel="prev" href="{{ this.page.urlPrevPage }}">{% endif %}
{% if this.page.urlNextPage %}<link rel="next" href="{{ this.page.urlNextPage }}">{% endif %}

<meta name="twitter:site" content="{{ this.theme.name }}">
<meta name="twitter:title" content="{{ this.page.meta_title|default(this.page.title) }}">
{% if this.page.meta_description %}<meta name="twitter:description" content="{{ this.page.meta_description }}">{% endif %}

<meta property="og:title" content="{{ this.page.meta_title|default(this.page.title) }}">
<meta property="og:type" content="website">
{% if this.page.meta_description %}<meta property="og:description" content="{{ this.page.meta_description }}">{% endif %}
<meta property="og:image" content="{{ 'assets/images/favicon/apple-icon-90@2x.png'|theme }}">
<meta property="og:url" content="{{ ''|page }}">
<meta property="og:site_name" content="{{ this.theme.name }}">

{#{{ schema() }}#}

<!-- Favicon -->
<meta name="theme-color" content="#ec407a">
<meta name="msapplication-TileColor" content="#ec407a">
<meta name="msapplication-TileImage" content="{{ 'assets/images/favicon/apple-icon-72@2x.png'|theme }}">

<link rel="shortcut icon" href="{{ 'assets/images/favicon/favicon-16@2x.ico'|theme }}">

<link rel="apple-touch-icon" sizes="57x57" href="{{ 'assets/images/favicon/apple-touch-icon-57.png'|theme }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ 'assets/images/favicon/apple-touch-icon-57@2x.png'|theme }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ 'assets/images/favicon/apple-touch-icon-60.png'|theme }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ 'assets/images/favicon/apple-touch-icon-60@2x.png'|theme }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ 'assets/images/favicon/apple-touch-icon-72.png'|theme }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ 'assets/images/favicon/apple-touch-icon-72@2x.png'|theme }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ 'assets/images/favicon/apple-touch-icon-76.png'|theme }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ 'assets/images/favicon/apple-touch-icon-76@2x.png'|theme }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/favicon/apple-touch-icon-90@2x.png'|theme }}">

<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicon/favicon-16.png'|theme }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicon/favicon-16@2x.png'|theme }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ 'assets/images/favicon/favicon-16@6x.png'|theme }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ 'assets/images/favicon/favicon-16@12x.png'|theme }}">

<link rel="manifest" href="{{ 'assets/images/favicon/manifest.json'|theme }}">

<!-- Style -->
<link href="{{ ['assets/app.min.css']|theme }}" rel="stylesheet" type="text/css"/>

{% styles %}