<noscript>
    <div class="container"><a href="{{ 'oldbrowser'|page }}">Для правильной работы интернет-магазина – включите JavaScript в своём браузере</a></div>
</noscript>

<header class="header">
    <div class="header-topbar">
        <div class="container">
            <div class="topbar-left">
                <ul class="d-sm-none-down">
                    <li><a href="tel:+380960609545"><i class="left icon xs kyivstar"></i><b>+380 (96) 06-09-545</b></a></li>
                    <li><a href="tel:+380660609545"><i class="left icon xs vodafone"></i><b>+380 (66) 06-09-545</b></a></li>
                    <li><a href="tel:+380730609545"><i class="left icon xs lifecell"></i><b>+380 (73) 06-09-545</b></a></li>
                </ul>
                <ul class="d-md-none-up">
                    <li><a href="tel:+380960609545"><i class="left icon xs kyivstar"></i><b>096 06-09-545</b></a></li>
                    <li><a href="tel:+380660609545"><i class="left icon xs vodafone"></i><b>066 06-09-545</b></a></li>
                    <li><a href="tel:+380730609545"><i class="left icon xs lifecell"></i><b>073 06-09-545</b></a></li>
                </ul>
            </div>
            <div class="topbar-right">
                <ul>
                    {% if not isUser() %}
                        <li class="auth">{% component 'telegramWidget' %}</li>
                    {% else %}
                        {% set user = getUser() %}
                        <li class="dropdown-nav">
                            <a href="#"><i class="left icon xs user"></i>{{ user.first_name }}<span class="d-none-down"> {{ user.last_name }}</span><i class="right fa fa-angle-down"></i></a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li><a href="{{ 'user/profile'|page }}">Мой аккаунт</a></li>
                                    <li><a href="{{ 'shop/order'|page }}">История заказов</a></li>
                                </ul>
                                <span class="divider"></span>
                                <ul>
                                    <li><a href="#" data-request="userSession::onLogout">Выйти</a></li>
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="header-main">
        <div class="container">
            <div class="logotype">
                <a href="{{ 'home'|page }}">
                    <img src="{{ 'assets/images/logotype.png'|theme }}" srcset="{{ 'assets/images/logotype@2x.png'|theme }} 2x" alt="{{ this.theme.title }}" title="{{ this.theme.title }}">
                </a>
            </div>
            <div class="basket" id="_sidebar_basket_toggle">
                {% partial 'shop/sidebar/basket/toggle' %}
            </div>
            <nav class="navigation-menu" data-mobile-title="Меню">
                <ul>
                    <li><a href="{{ 'home'|page }}">Главная</a></li>
                    <li><a href="{{ 'static/delivery'|page }}">Доставка</a></li>
                    <li><a href="{{ 'static/payment'|page }}">Оплата</a></li>
                    <li><a href="{{ 'static/warranty'|page }}">Гарантия</a></li>
                    <li><a href="{{ 'static/contact'|page }}">О магазине</a></li>
                </ul>
            </nav>
        </div>
    </div>

    {% set categories = subbarList.categories %}
    {% if categories|length > 0 %}
        <div class="header-subbar">
            <div class="container">
                <nav class="navigation-menu" data-mobile-title="Каталог мишек">
                    <ul>
                        {% for category in categories %}
                            <li><a href="{{ category.url }}">{{ category.name_filter }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    {% endif %}
</header>

{% partial 'static/promo' %}