{% if not getTrigger('popup') %}
    {{ putTrigger('popup', true) }}
    <section id="popup" class="popup" data-delay="1">
        <div class="substrate d-md-none-up d-sm-block-down"></div>
        <a href="javascript:void(0);" class="js-popup-close close-icon close-icon-white"></a>
        <div class="row">
            <div class="col-md-8 col-sm-9 col-12">
                <h2 class="title">Получите подарок</h2>
                <p class="content">Купите плюшевого медведя длиной от 160 см, что-бы получить гарантированный подарок: <strong>плюшевое сердце 20 см</strong></p>
                <form>
                    <div class="form-group">
                        <a class="btn btn-primary" href="{{ 'shop/catalog'|page({ slug: 'c-1-medvedi'}) }}">Акционные товары</a>
                        <a class="js-popup-close close-link text-nowrap">&#10006; Не интересно</a>
                    </div>
                </form>
                <p class="info"><small>Акционное предложение действует<br>с 05.03.2018 до 07.03.2018</small></p>
            </div>
        </div>
    </section>
    <div id="popup_overlay" class="overlay"></div>
{% endif %}