<div class="container">
    <div class="row product-list">
        {% for recommended in recommends %}
            {% set variant = recommended %}
            {% set product = variant.relProduct %}

            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="product-item">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-6 pr-0-down">
                            <div class="product-image">
                                {% if product.price_old != product.price_new %}
                                    <a href="{{ product.url }}" class="label label-sale"></a>
                                {% elseif date(now).diff(variant.created_at).days < 7 %}
                                    <a href="{{ product.url }}" class="label label-new"></a>
                                {% endif %}

                                {% set seo = 'Купить мягкую игрушку '~ variant.relColor.name ~' '~ product.name ~' '~ product.relSize.name ~ ' с доставкой по Украине' %}
                                <a href="{{ product.url }}" title="{{ seo }}">
                                    {% set image = variant.relImages.first %}
                                    <img src="{{ image.thumb(265, 353, 'crop') }}" srcset="{{ image.thumb(546, 728, 'crop') }} 2x" alt="{{ seo }}" title="{{ seo }}">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-6 pl-0-down">
                            <div class="product-detail">
                                <h3 class="product-title"><a href="{{ product.url }}">{{ product.name }}</a></h3>
                                <h4 class="product-description">
                                    <span>{{ product.relSize.name }}, {{ variant.relColor.name }}</span>
                                </h4>
                                <div class="product-price">
                                    {% if product.price_old != product.price_new %}
                                        <span class="old-price">{{ product.price_old|numeric }} грн</span>
                                    {% endif %}
                                    <span class="price">{{ product.price_new|numeric }} грн</span>
                                </div>
                                <div class="product-basket">
                                    <button
                                            class="btn btn-primary btn-block"
                                            type="submit"
                                            data-request="shopBasket::onAddProduct"
                                            data-request-data="variant_id: '{{ variant.id }}', quantity: '1'"
                                            data-request-success="$('.js-sidebar-basket-open').click();"
                                            onclick="gtag('event', 'addBasket');"
                                    ><i class="fa fa-shopping-cart"></i> В корзину</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <p style="text-align: center;">Товаров, соответствующих заданным параметрам, не найдено</p>
            </div>
        {% endfor %}
    </div>
</div>