<section class="image-bg">
    <div class="container">
        <div class="row promo">
            <div class="col-md-4">
                <a href="{{ 'static/delivery'|page }}" class="promo-item">
                    <div class="icon d-md-none d-sm-block-down"><i class="delivery"></i></div>
                    <div class="info">
                        <h4>Быстрая доставка</h4>
                        <p>Мы работаем быстро, что-бы Вы получили товар точно в срок</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ 'static/payment'|page }}" class="promo-item">
                    <div class="icon d-md-none d-sm-block-down"><i class="payment"></i></div>
                    <div class="info">
                        <h4>Наложенный платеж</h4>
                        <p>Оплата товара при получении, после предварительного осмотра</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ 'shop/catalog'|page({slug: 'c-1-medvedi'}) }}" class="promo-item">
                    <div class="icon d-md-none d-sm-block-down"><i class="choice"></i></div>
                    <div class="info">
                        <h4>Большой ассортимент</h4>
                        <p>Более 250 наименований, с фильтрацией по размеру, цвету и оттенку</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>