{% set posts = blogPostListLast.posts %}

{% if posts|length > 0 %}
    <div class="sidebar-block">
        <div class="content">
            <h4>Новости и акции</h4>
        </div>
        <div class="content-no-padding">
            <ul class="list-none news-list">
                {% for post in posts %}
                    <li>
                        <a href="{{ post.url }}">
                            <div class="title">{{ post.name }}</div>
                            <div class="description">{{ post.short_content }}</div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="content-no-padding">
            <a class="btn btn-dark btn-sm btn-block" href="{{ 'news/list'|page }}">Все новости</a>
        </div>
    </div>
{% endif %}

<div class="sidebar-block">
    <div class="content">
        <h4>Instagram</h4>
    </div>
    <div class="content-no-padding">
        <div class="instagram-slider slick-slider">
            <div>
                <a class="product-img" href="https://www.instagram.com/bigbear.com.ua/" target="_blank" rel="nofollow">
                    <img src="{{ 'assets/images/instagram/instagram-1.jpg'|theme }}" srcset="{{ 'assets/images/instagram/instagram-1@2x.jpg'|theme }} 2x" alt="Интернет-магазин брендовых мягких игрушек, всех размеров и расцветок, быстрая доставка в любую точку Украины">
                </a>
            </div>
            <div>
                <a class="product-img" href="https://www.instagram.com/bigbear.com.ua/" target="_blank" rel="nofollow">
                    <img src="{{ 'assets/images/instagram/instagram-2.jpg'|theme }}" srcset="{{ 'assets/images/instagram/instagram-2@2x.jpg'|theme }} 2x" alt="Интернет-магазин брендовых мягких игрушек, всех размеров и расцветок, быстрая доставка в любую точку Украины">
                </a>
            </div>
            <div>
                <a class="product-img" href="https://www.instagram.com/bigbear.com.ua/" target="_blank" rel="nofollow">
                    <img src="{{ 'assets/images/instagram/instagram-3.jpg'|theme }}" srcset="{{ 'assets/images/instagram/instagram-3@2x.jpg'|theme }} 2x" alt="Интернет-магазин брендовых мягких игрушек, всех размеров и расцветок, быстрая доставка в любую точку Украины">
                </a>
            </div>
        </div>
    </div>
    <div class="content">
        <p class="widget-description">Follow us on <a href="https://www.instagram.com/bigbear.com.ua/" target="_blank" rel="nofollow">@BigBear.com.ua</a></p>
    </div>
</div>