<b>You have new exception on:</b>
{{ url }}

<b>Date and Time:</b> {{ date_and_time }}
<b>IP client address:</b> {{ ip }}
<b>User agent:</b> {{ user_agent }}

<b>Exception class:</b>  {{ exception_class }}
<b>Code:</b> {{ code }}
<b>File:</b> {{ file }}
<b>Line:</b> {{ line }}

<b>Error:</b> {{ error }}

<b>Decode error:</b> {{ decode_error }}