{% set settings = __SELF__.settings %}

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
{% if settings.meta_viewport %}<meta name="viewport" content="{{ settings.meta_viewport }}">{% endif %}

<!-- Information -->
<title>{{ settings.meta_title }} - {{ settings.site_title }}</title>
{% if settings.webapp_title %}<meta name="application-name" content="{{ settings.webapp_title }}">{% endif %}

{% if settings.meta_description %}<meta name="description" content="{{ settings.meta_description }}">{% endif %}
{% if settings.meta_keywords %}<meta name="keywords" content="{{ settings.meta_keywords }}">{% endif %}
{% if settings.meta_author %}<meta name="author" content="{{ settings.meta_author }}">{% endif %}
{% for meta in settings.meta_repeater %}
    <meta name="{{ meta.name }}" content="{{ meta.content }}">
{% endfor %}

<!-- Links -->
<meta name="robots" content="{{ settings.meta_index }}, {{ settings.meta_follow }}">
{% if this.page.meta_redirect %}<meta http-equiv="refresh" content="0; url={{ this.page.meta_redirect }}">{% endif %}
<link rel="canonical" href="{{ this.page.meta_canonical|default(''|page) }}">
{% if this.page.meta_first %}<link rel="first" href="{{ this.page.meta_first }}">{% endif %}
{% if this.page.meta_prev %}<link rel="prev" href="{{ this.page.meta_prev }}">{% endif %}
{% if this.page.meta_next %}<link rel="next" href="{{ this.page.meta_next }}">{% endif %}
{% if this.page.meta_last %}<link rel="last" href="{{ this.page.meta_last }}">{% endif %}

{% if settings.is_webapp %}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
{% endif %}

<!-- Icons -->
{% if settings.webapp_color %}
    <meta name="theme-color" content="{{ settings.webapp_color }}">
{% endif %}

{% set appIcon = settings.relAppIcon %}
{% if appIcon %}
    <link rel="shortcut icon" href="{{ appIcon.getThumb(64, 64, 'crop') }}">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ appIcon.getThumb(57, 57, 'crop') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ appIcon.getThumb(114, 114, 'crop') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ appIcon.getThumb(60, 60, 'crop') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ appIcon.getThumb(120, 120, 'crop') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ appIcon.getThumb(72, 72, 'crop') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ appIcon.getThumb(114, 114, 'crop') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ appIcon.getThumb(76, 76, 'crop') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ appIcon.getThumb(152, 152, 'crop') }}">

    <link rel="icon" sizes="16x16" href="{{ appIcon.getThumb(16, 16, 'crop') }}" type="image/{{ appIcon.extension }}">
    <link rel="icon" sizes="32x32" href="{{ appIcon.getThumb(32, 32, 'crop') }}" type="image/{{ appIcon.extension }}">
    <link rel="icon" sizes="96x96" href="{{ appIcon.getThumb(96, 96, 'crop') }}" type="image/{{ appIcon.extension }}">
    <link rel="icon" sizes="128x128" href="{{ appIcon.getThumb(128, 128, 'crop') }}" type="image/{{ appIcon.extension }}">
    <link rel="icon" sizes="192x192" href="{{ appIcon.getThumb(192, 192, 'crop') }}" type="image/{{ appIcon.extension }}">

    <link rel="manifest" href="{{ route('seo_manifest') }}">
{% endif %}

{% if settings.humans %}<link rel="author" href="{{ route('seo_humans') }}">{% endif %}