{% set paginate = blogPostList.posts %}

<li>
    {% if paginate.currentPage == page %}
        <span class="active">{{ page }}</span>
    {% else %}
        <a
                data-request="blogPostList::onChangeNumPage"
                data-request-data="page: '{{ page }}'"
                data-scrollable="#_news_headline_wrapper"
        >{{ page }}</a>
    {% endif %}
</li>