{% set paginate = blogPostList.posts %}

{% if paginate.lastPage > 1 %}
    <div class="pagination-wrapper">
        <div class="pagination">
            <ul class="pagination-numbers">
                {% if paginate.lastPage <= 10 %}
                    {% for page in 1..paginate.lastPage %}
                        {% partial 'news/pagination/item' page = page %}
                    {% endfor %}
                {% else %}
                    {% if paginate.currentPage < 6 %}
                        {# Пользователь в начале списка #}
                        {% for page in 1..paginate.currentPage + 2 %}
                            {% partial 'news/pagination/item' page = page %}
                        {% endfor %}
                        <li><span class="dots">...</span></li>
                        {% partial 'news/pagination/item' page = paginate.lastPage %}
                    {% elseif (paginate.currentPage >= 6) and (paginate.currentPage <= paginate.lastPage - 5) %}
                        {# Пользователь в середине списка #}
                        {% partial 'news/pagination/item' page = '1' %}
                        <li><span class="dots">...</span></li>
                        {% for page in paginate.currentPage - 2..paginate.currentPage + 2 %}
                            {% partial 'news/pagination/item' page = page %}
                        {% endfor %}
                        <li><span class="dots">...</span></li>
                        {% partial 'news/pagination/item' page = paginate.lastPage %}
                    {% else %}
                        {# Пользователь в конце списка #}
                        {% partial 'news/pagination/item' page = '1' %}
                        <li><span class="dots">...</span></li>
                        {% for page in paginate.currentPage - 2..paginate.lastPage %}
                            {% partial 'news/pagination/item' page = page %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}