description = "Default layout"

[telegramWidget]
size = "small"
userpic = 1
radius = 20
requestAccess = 1

[shopCategoryList subbarList]
catalogPage = "shop/catalog"
categoryRoot = 1
categoryGetNested = 0
categoryPerPage = 0
categoryOrderBy = "id"
categoryOrderSort = "asc"

[shopBasket]

[userSession]
userLogoutPage = "home"

[blogPostListLast]
postListPerPage = 3
postSinglePage = "news/single"
==
<!DOCTYPE html>
<html lang="ru">
<head>
    {% partial 'layout/head' %}
</head>
<body>

<div id="overlay" class="overlay"></div>
<div id="loader" class="loader"></div>

{#{% partial 'layout/popup' %}#}

{% partial 'layout/header' %}

{% partial 'layout/filter' %}
{% partial 'layout/basket' %}

{% page %}

{% partial 'layout/footer' %}

{% partial 'layout/foot' %}

</body>
</html>